Repository OpenFAST/openfast, pull requests merged in 2018-11, with the labels that each got.

#195 AD bug fix: calculation of Re
  modules-local/aerodyn/src/BEMT.f90
  modules-local/aerodyn/src/BEMTUncoupled.f90
  modules-local/aerodyn/src/fmin_fcn.f90
Labels: Module: AeroDyn

#174 Include 32 bit libraries in the MKL search
  cmake/FindMKL.cmake
  docs/source/install/install_cmake_linux.rst
  docs/source/install/install_cmake_windows.rst
Labels: Status: Review, System: CMake, Type: Build issue

#186 Modified limits in DBEMT for numerical robustness
  modules-local/aerodyn/src/AeroDyn.f90
  modules-local/aerodyn/src/DBEMT.f90
Labels: Module: AeroDyn, Type: Enhancement

#146 [WIP] Fixed dwm-driver to compile on linux, as a temporary half-way solution until FAST.Farm is available.
  .travis.yml
  modules-local/aerodyn14/CMakeLists.txt
  modules-local/aerodyn14/src/DWM_driver_wind_farm.f90
  modules-local/aerodyn14/src/DWM_driver_wind_farm_mod.f90
  modules-local/aerodyn14/src/DWM_driver_wind_farm_sub.f90
Labels: Module: AeroDyn, Type: Build issue

#205 Bug fix in compiling DWM Driver with intel
  modules-local/aerodyn14/src/DWM_driver_wind_farm.f90
  modules-local/aerodyn14/src/DWM_driver_wind_farm_sub.f90
Labels: Type: Bug, Type: Build issue

#190 Minor fixes
  modules-local/nwtc-library/src/NWTC_IO.f90
  modules-local/openfast-registry/src/misc.c
  modules-local/openfast-registry/src/registry.c
Labels: FAST Registry, Status: Review, System: Windows

#207 HydroDyn: check for valid file unit before attempting to close
  modules-local/hydrodyn/src/HydroDyn.f90
Labels: Module: HydroDyn, Type: Bug

#203 Continuous integration improvement
  .travis.yml
  modules-local/beamdyn/src/BeamDyn.f90
Labels: Module: BeamDyn, Type: Enhancement, Type: Testing

#210 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: Type: Enhancement
