Repository OpenFAST/openfast, pull requests merged in 2019-07, with the labels that each got.

#313 Fix Debian linking issue in c++ interface
  .travis.yml
  cmake/FindYAMLCPP.cmake
Labels: Type: Build issue, Type: Testing

#311 Add compiler flags for CXX in CMAKE
  modules/map/CMakeLists.txt
Labels: Module: MAP++, System: CMake, Type: Build issue

#286 Member length computed using JointID lookup
  modules/subdyn/src/SubDyn.f90
Labels: Module: SubDyn

#231 Feature/issue12
  modules/hydrodyn/src/Morison.f90
Labels: Module: HydroDyn
