Repository OpenFAST/openfast, pull requests merged in 2019-10, with the labels that each got.

#291 Added some comments to Morison
  modules/hydrodyn/src/Morison.f90
Labels: Module: HydroDyn, Type: Documentation

#348 AD14: Restructure loop to fix optimization bug
  modules/aerodyn14/src/AeroSubs.f90
Labels: Type: Bug

#204 OpenFAST-Simulink interface
  .gitignore
  CMakeLists.txt
  cmake/FindMatlab.cmake
  glue-codes/simulink/src/FAST_SFunc.c
  glue-codes/simulink/src/create_FAST_SFunc.m
  modules/nwtc-library/CMakeLists.txt
  modules/nwtc-library/src/SysMatlabLinuxIntel.f90
  modules/nwtc-library/src/SysMatlabWindows.f90
  modules/openfast-library/src/FAST_Library.f90
  modules/openfast-library/src/FAST_Subs.f90
  vs-build/FAST/FAST.sln
  vs-build/FASTlib/FASTlib.vfproj
  vs-build/MAPlib/MAP_dll.vcxproj
  vs-build/OpenFAST-Simulink/OpenFAST-Simulink.vfproj
  vs-build/Registry/FAST_Registry.sln
  vs-build/Registry/FAST_Registry.vcxproj
Labels: Sytem: MATLAB, Type: Enhancement

#351 Cleanup of SubDyn module
  modules/subdyn/src/SD_FEM.f90
  modules/subdyn/src/SubDyn.f90
Labels: Module: SubDyn, Type: Documentation, Type: Enhancement
