Repository OpenFAST/openfast, pull requests merged in 2020-07, with the labels that each got.

#486 MoorDyn bug fix for tensions changing part-way through simulation.
  modules/moordyn/src/MoorDyn.f90
Labels: Module: MoorDyn, Type: Bug

#488 Fix bug that could cause incorrect loads transfer in Line2-to-Line2 or Line2-to-Point mapping
  modules/nwtc-library/src/ModMesh.f90
  modules/nwtc-library/src/ModMesh_Mapping.f90
  modules/nwtc-library/src/ModMesh_Types.f90
Labels: Module: NWTC Lib, Type: Bug

#506 [BugFix] ReadTheDocs builds failed with multiple bibliographies referencing the same article
  docs/requirements.txt
  docs/source/user/aerodyn-olaf/Introduction.rst
  docs/source/user/aerodyn-olaf/OLAFTheory.rst
  docs/source/user/aerodyn-olaf/StateSpace.rst
  docs/source/user/aerodyn-olaf/zrefs.rst
Labels: Type: Documentation

#507 Fix a compiler warning regarding the iso_fortran_env module
  modules/nwtc-library/src/NWTC_IO.f90
Labels: Module: NWTC Lib

#513 Fix GH Actions Checkout usage
  .github/workflows/continuous-integration-workflow.yml
Labels: Type: Bug, Type: Testing
