Repository OpenFAST/openfast, pull requests merged in 2020-09, with the labels that each got.

#545 Simulink build for GNU compiler on Linux systems
  modules/nwtc-library/CMakeLists.txt
  modules/nwtc-library/src/SysMatlabLinuxGnu.f90
Labels: Sytem: MATLAB, Type: Enhancement

#547 [BugFix] cmake configuration for Linux + Intel + Debug
  modules/nwtc-library/CMakeLists.txt
Labels: Compiler: Intel, System: CMake, System: Unix, Type: Build issue

#550 Make channel length consistent between C and Fortran sides of interface
  modules/openfast-library/src/FAST_Library.h
Labels: Module: OpenFAST Lib, Type: Bug
