Repository OpenFAST/openfast, pull requests merged in 2020-11, with the labels that each got.

#583 CMake: set CMP0074 policy explicitly to avoid warnings
  glue-codes/openfast-cpp/CMakeLists.txt
Labels: System: CMake, Type: Build issue

#594 AD: Close a file that was opened but not closed
  modules/aerodyn/src/AeroAcoustics_IO.f90
Labels: Module: AeroDyn, Type: Bug

#588 Add NWTC Library infrastructure for parsing string inputs
  modules/nwtc-library/src/NWTC_IO.f90
  modules/nwtc-library/src/NWTC_Library_Types.f90
  modules/nwtc-library/src/Registry_NWTC_Library.txt
  modules/nwtc-library/tests/test_NWTC_IO_FileInfo.F90
  unit_tests/nwtc-library/CMakeLists.txt
Labels: Module: NWTC Lib, Type: Enhancement

#590 VTK folder and Vx sign for OLAF
  modules/aerodyn/src/AeroDyn_AllBldNdOuts_IO.f90
  modules/aerodyn/src/FVW.f90
  modules/aerodyn/src/FVW_Registry.txt
  modules/aerodyn/src/FVW_Types.f90
Labels: Module: AeroDyn, Type: Bug

#595 Disable gfortran stack-reuse compiler option
  cmake/OpenfastFortranOptions.cmake
Labels: Compiler: GNU, System: CMake

#599 Improve GH Actions
  .github/actions/tests-module-hydrodyn/action.yml
  .github/workflows/automated-dev-tests.yml
Labels: Type: Bug, Type: Enhancement, Type: Testing

#602 Vectorize a section of VariousWaves_Init
  cmake/OpenfastFortranOptions.cmake
  modules/hydrodyn/src/Waves.f90
Labels: Module: HydroDyn

#603 Fix compiler error: switch arguments
  modules/nwtc-library/src/NWTC_IO.f90
Labels: Type: Bug

#604 Bug Fix: Fixing issue that MoorDyn writes positions and tensions of t…
  modules/moordyn/src/MoorDyn_IO.f90
Labels: Module: MoorDyn, Type: Bug
