Repository OpenFAST/openfast, pull requests merged in 2021-11, with the labels that each got.

#902 Fixes for Intel in debug mode
  modules/elastodyn/src/ElastoDyn.f90
  modules/hydrodyn/src/HydroDyn_Output.f90
  modules/hydrodyn/src/Morison.f90
  modules/map/src/map.f90
  modules/openfast-library/src/FAST_Solver.f90
  modules/openfast-library/src/FAST_Subs.f90
  modules/servodyn/src/BladedInterface.f90
Labels: Module: ServoDyn, Module: OpenFAST Lib, Compiler: Intel

#915 [bugfix] Incorrect reference frame used in HD for WAMIT/WAMIT2
  modules/hydrodyn/src/HydroDyn.f90
  modules/hydrodyn/src/WAMIT.f90
  modules/hydrodyn/src/WAMIT2.f90
Labels: Type: Bug, Module: HydroDyn

#918 Disable Codecov integration and codecoverage reporting
  .codecov.yaml
  .github/workflows/automated-dev-tests.yml
  CMakeLists.txt
  README.rst
  docs/source/testing/index.rst
Labels: Type: Testing

#923 [BugFix] error handling in AWAE module
  glue-codes/fast-farm/src/FAST_Farm_Subs.f90
  modules/awae/src/AWAE.f90
  modules/awae/src/AWAE_IO.f90
Labels: Type: Bug, FAST.Farm, Module: AWAE

#922 [bugfix] Minor bugfix in AirfoilInfo
  modules/aerodyn/src/AirfoilInfo.f90
Labels: Module: AeroDyn

#929 Fix issue with uninitialized variables in InflowWind's Direct Scaling method
  modules/inflowwind/src/IfW_FFWind_Base.f90
Labels: Module: InflowWind

#930 Stop OpenFAST for Simulink simulation when trim solution has been found.
  glue-codes/simulink/src/FAST_SFunc.c
  modules/openfast-library/src/FAST_Library.f90
  modules/openfast-library/src/FAST_Subs.f90
Labels: Module: ServoDyn, Feature: Linearization
