Repository OpenFAST/openfast, pull requests merged in 2021-05, with the labels that each got.

#739 [BugFix] Logic error in glue code for StC loads on SD with no HD
  modules/openfast-library/src/FAST_Solver.f90
Labels: Module: ServoDyn, Module: SubDyn, Type: Bug

#741 CTest: Add FF reg tests when FF build is enabled
  reg_tests/CTestList.cmake
Labels: FAST.Farm, Type: Bug, Type: Testing

#744 Avoid gfortran 11 error in FAST_Solver.f90
  modules/openfast-library/src/FAST_Solver.f90
Labels: Module: OpenFAST Lib

#760 NWTC_IO: Add InitFileInfo_FromNullCString subroutine
  modules/nwtc-library/src/NWTC_Base.f90
  modules/nwtc-library/src/NWTC_IO.f90
  modules/nwtc-library/src/NWTC_Library_Types.f90
  modules/nwtc-library/src/Registry_NWTC_Library.txt
  modules/nwtc-library/test/ReadMe.md
  modules/nwtc-library/tests/test_NWTC_IO_FileInfo.F90
Labels: Module: NWTC Lib, Type: Enhancement
