Repository OpenFAST/openfast, pull requests merged in 2021-06, with the labels that each got.

#769 InflowWind: Return if fatal error occurs in FFWind_Base::GetInterpValues
  modules/inflowwind/src/IfW_FFWind_Base.f90
Labels: Module: InflowWind, Type: Bug

#768 Fix install for openfast cpp API
  glue-codes/openfast-cpp/CMakeLists.txt
Labels: C++ API, Type: Bug

#763 Allow MAP++ to be statically linked into Windows builds
  modules/map/src/mapsys.h
  vs-build/MAPlib/MAP_dll.vcxproj
Labels: Module: MAP++, System: Visual Studio, System: Windows
