Repository OpenFAST/openfast, pull requests merged in 2021-09, with the labels that each got.

#826 BugFix in documentation: Fix bulleted list formatting
  docs/conf.py
  docs/requirements.txt
Labels: Type: Documentation

#828 Add instructions for adding new regression test cases
  docs/source/testing/index.rst
  docs/source/testing/regression_test.rst
Labels: Type: Documentation

#740 Guidelines for performance considerations with Fortran
  docs/conf.py
  docs/requirements.txt
  docs/source/dev/images/TopDown_FAST_LinearizeOP.jpg
  docs/source/dev/performance.rst
Labels: Type: Documentation

#835 GH Actions: Add OS/Compiler matrix to debug job
  .github/workflows/automated-dev-tests.yml
Labels: Type: Testing

#834 Fix AD Driver unallocated variable error with GCC 11
  modules/aerodyn/src/AeroDyn_Driver_Subs.f90
Labels: Module: AeroDyn

#838 [BugFix] segmentation fault in HD linearization
  modules/hydrodyn/src/HydroDyn.f90
Labels: Type: Bug, Module: HydroDyn

#839 Fix Bug in FAST.Farm Causing Wake Bounce-Back
  modules/awae/src/AWAE.f90
Labels: Type: Bug, FAST.Farm

#831 HydroDyn Input/Output meshes: change from SWL to MSL for consistency with OF glue code
  modules/hydrodyn/src/HydroDyn_Input.f90
  modules/hydrodyn/src/Morison.f90
  modules/hydrodyn/src/Morison.txt
  modules/hydrodyn/src/Morison_Types.f90
Labels: Module: HydroDyn

#734 OpenFAST Registry algorithm change: simplify USE statements
  glue-codes/fast-farm/src/FASTWrapper_Types.f90
  glue-codes/fast-farm/src/FAST_Farm_Types.f90
  modules/aerodyn/src/AeroDyn_Driver_Types.f90
  modules/aerodyn/src/AeroDyn_Types.f90
  modules/aerodyn/src/BEMT_Types.f90
  modules/aerodyn/src/FVW_Types.f90
  modules/aerodyn14/src/AeroDyn14_Types.f90
  modules/aerodyn14/src/DWM_Types.f90
  modules/awae/src/AWAE_Types.f90
  modules/hydrodyn/src/HydroDyn_Types.f90
  modules/inflowwind/src/InflowWind_Types.f90
  modules/openfast-library/src/FAST_Types.f90
  modules/openfast-registry/src/gen_module_files.c
  modules/openfast-registry/src/reg_parse.c
Labels: Type: Enhancement, FAST Registry

#836 Add automated code coverage measurement and reporting
  .codecov.yaml
  .github/actions/tests-gluecode-openfast/action.yml
  .github/actions/tests-module-aerodyn/action.yml
  .github/actions/tests-module-beamdyn/action.yml
  .github/actions/tests-module-hydrodyn/action.yml
  .github/actions/tests-module-inflowwind/action.yml
  .github/actions/tests-module-nwtclibrary/action.yml
  .github/actions/tests-module-subdyn/action.yml
  .github/workflows/automated-dev-tests.yml
  CMakeLists.txt
  README.rst
  docs/source/install/index.rst
  docs/source/testing/index.rst
Labels: Type: Enhancement, Type: Testing
