Repository OpenFAST/openfast, pull requests merged in 2021-04, with the labels that each got.

#706 Automate incrementing the dev-label conda build
  .github/actions/utils/increment_conda_build.py
  .github/workflows/conda-deploy.yml
Labels: Type: Enhancement

#696 Update the api_change for MoorDyn after PR #565
  docs/source/user/api_change.rst
Labels: Type: Documentation

#703 [BugFix] unallocated AD%y%Rotors when AD14 is used with cpp interface
  modules/openfast-library/src/FAST_Library.f90
  modules/openfast-library/src/FAST_Subs.f90
Labels: C++ API, Module: AeroDyn, Sytem: MATLAB, Type: Bug

#717 GH Actions: run module tests with debug build
  .github/workflows/automated-dev-tests.yml
  cmake/OpenfastFortranOptions.cmake
Labels: Type: Enhancement, Type: Testing

#718 [BugFix] Raise an error if reg test results contain NaN or infinity
  reg_tests/lib/fast_io.py
Labels: Type: Bug, Type: Testing

#713 [BugFix] Uninitialized variables in HydroDyn::Morisson calculations
  .github/workflows/automated-dev-tests.yml
  modules/hydrodyn/src/Morison.f90
Labels: Module: HydroDyn, Type: Bug, Type: Usage question

#725 Updated linking dependencies for newer version of Visual Studio
  vs-build/AeroDyn/AeroDyn_Driver.vfproj
  vs-build/BeamDyn/BeamDyn.vfproj
  vs-build/HydroDyn/HydroDynDriver.vfproj
  vs-build/InflowWind/InflowWind_driver.vfproj
  vs-build/SubDyn/SubDyn.vfproj
  vs-build/UnsteadyAero/UnsteadyAero.vfproj
Labels: System: Visual Studio, Type: Build issue

#726 Build FAST.Farm when configured via BUILD_FASTFARM
  .github/workflows/automated-dev-tests.yml
  CMakeLists.txt
  docs/source/install/index.rst
  glue-codes/CMakeLists.txt
Labels: FAST.Farm, System: CMake

#728 AllBldOuts more forgiving and support for 0
  modules/aerodyn/src/AeroDyn_AllBldNdOuts_IO.f90
Labels: Module: AeroDyn, Type: Bug

#736 ElastoDyn: AllBldOuts more forgiving and support for 0
  modules/aerodyn/src/AeroDyn_AllBldNdOuts_IO.f90
  modules/elastodyn/src/ElastoDyn_AllBldNdOuts_IO.f90
Labels: Module: ElastoDyn, Type: Bug
