Repository OpenFAST/openfast, pull requests merged in 2021-01, with the labels that each got.

#616 Simulink interface: fix potential memory leak and add more error handling
  glue-codes/simulink/src/FAST_SFunc.c
  modules/openfast-library/src/FAST_Library.f90
Labels: Status: Review, Type: Enhancement

#627 [BugFix] AD15: Fix logic for setting size of arrays for airfoil tables
  modules/aerodyn/src/AirfoilInfo.f90
Labels: Module: AeroDyn, Type: Bug

#634 Fix HydroDyn linearization matrix multiplication using unallocated arrays
  modules/hydrodyn/src/WAMIT.f90
Labels: Module: HydroDyn, Type: Bug

#636 Add unit tests for BD_ComputeIniNodalCrv
  modules/beamdyn/tests/test_BD_ComputeIniNodalCrv.F90
  unit_tests/beamdyn/CMakeLists.txt
Labels: Module: BeamDyn, Type: Testing

#641 B/simulink errors
  glue-codes/simulink/src/FAST_SFunc.c
Labels: Type: Bug

#615 HD/Morison performance improvement, NWTC Lib and BD bug fixes
  modules/beamdyn/src/BeamDyn_Subs.f90
  modules/hydrodyn/src/HydroDyn_DriverCode.f90
  modules/hydrodyn/src/Morison.f90
  modules/hydrodyn/src/Waves.f90
  modules/nwtc-library/src/Generate_NWTC_Library_Types.bat
  modules/nwtc-library/src/NWTC_IO.f90
  modules/nwtc-library/src/NWTC_Library_Types.f90
  modules/nwtc-library/src/Registry_NWTC_Library.txt
  modules/nwtc-library/src/Registry_NWTC_Library_typedef_mesh.txt
  modules/nwtc-library/src/Registry_NWTC_Library_typedef_nomesh.txt
  modules/nwtc-library/src/SysGnuLinux.f90
  modules/nwtc-library/src/SysGnuWin.f90
  modules/nwtc-library/src/SysIFL.f90
  modules/nwtc-library/src/SysIVF.f90
  modules/nwtc-library/src/SysMatlabLinuxGnu.f90
  modules/nwtc-library/src/SysMatlabLinuxIntel.f90
  modules/nwtc-library/src/SysMatlabWindows.f90
Labels: Module: HydroDyn, Status: Review, Type: Enhancement

#642 [BugFix] Reenable InflowWind echo file lost in #596
  modules/inflowwind/src/InflowWind.f90
  modules/inflowwind/src/InflowWind_Subs.f90
  modules/inflowwind/tests/ifw_test_tools.F90
  modules/inflowwind/tests/test_bladed_wind.F90
  modules/inflowwind/tests/test_hawc_wind.F90
  modules/inflowwind/tests/test_outputs.F90
  modules/inflowwind/tests/test_steady_wind.F90
  modules/inflowwind/tests/test_turbsim_wind.F90
  modules/inflowwind/tests/test_uniform_wind.F90
Labels: Module: InflowWind, Type: Bug

#653 ElastoDyn: add YawBrTV[xyz]p output channels
  docs/OtherSupporting/OutListParameters.xlsx
  modules/elastodyn/src/ElastoDyn.f90
  modules/elastodyn/src/ElastoDyn_IO.f90
Labels: Module: ElastoDyn, Type: Enhancement
