Repository OpenFAST/openfast, pull requests merged in 2021-03, with the labels that each got.

#678 Add documentation on input file parsing
  docs/source/user/api_change.rst
  docs/source/user/index.rst
  docs/source/user/input_file_overview.rst
Labels: Type: Bug, Type: Documentation, Type: Enhancement

#683 Big fix in NWTC Library unit tests
  modules/nwtc-library/tests/NWTC_Library_test_tools.F90
  modules/nwtc-library/tests/test_NWTC_IO_CheckArgs.F90
  modules/nwtc-library/tests/test_NWTC_RandomNumber.F90
  unit_tests/nwtc-library/CMakeLists.txt
Labels: Module: NWTC Lib, Type: Bug, Type: Testing

#686 Bug fix for regression tests without C++ API enabled
  reg_tests/CMakeLists.txt
  reg_tests/CTestList.cmake
Labels: Type: Bug, Type: Testing

#682 Update installation instructions
  docs/_static/assets_download.jpg
  docs/source/dev/build_doc.rst
  docs/source/dev/types_files.rst
  docs/source/install/index.rst
  docs/source/testing/regression_test.rst
  docs/source/this_doc.rst
  docs/source/user/aerodyn-olaf/bibliography.bib
Labels: Type: Documentation, Type: Enhancement

#589 ElastoDyn: Allow one-blade turbine model
  modules/elastodyn/src/ElastoDyn.f90
  modules/elastodyn/src/ElastoDyn_IO.f90
  modules/servodyn/src/BladedInterface.f90
  modules/servodyn/src/ServoDyn.f90
Labels: Module: ElastoDyn, Type: Enhancement

#672 Preliminary support for multiple rotors in AeroDyn
  modules/aerodyn/src/AeroDyn.f90
  modules/aerodyn/src/AeroDyn_AllBldNdOuts_IO.f90
  modules/aerodyn/src/AeroDyn_Driver.f90
  modules/aerodyn/src/AeroDyn_Driver_Subs.f90
  modules/aerodyn/src/AeroDyn_IO.f90
  modules/aerodyn/src/AeroDyn_Registry.txt
  modules/aerodyn/src/AeroDyn_Types.f90
  modules/openfast-library/src/FAST_Library.f90
  modules/openfast-library/src/FAST_Lin.f90
  modules/openfast-library/src/FAST_Solver.f90
  modules/openfast-library/src/FAST_Subs.f90
  modules/openfoam/src/OpenFOAM.f90
Labels: Module: AeroDyn, Module: OpenFAST Lib, Type: Enhancement

#689 Enable types generation in CI
  .github/workflows/automated-dev-tests.yml
Labels: FAST Registry, Type: Testing

#690 [BugFix] Rename Structural Control driver program
  modules/servodyn/CMakeLists.txt
  modules/servodyn/src/StrucCtrl_Driver.f90
Labels: Module: ServoDyn, Type: Bug

#698 Configure runtime path linking when using shared libraries
  CMakeLists.txt
  cmake/set_rpath.cmake
Labels: System: CMake, Type: Build issue

#702 Simulink
  glue-codes/simulink/examples/Run_OpenLoop.m
  modules/openfast-library/src/FAST_Library.f90
Labels: Sytem: MATLAB, Type: Bug
