Repository OpenFAST/openfast, pull requests merged in 2022-11, with the labels that each got.

#1311 NWTC_IO: nullifying DLL (on restart) if not present when packing
  modules/nwtc-library/src/NWTC_Base.f90
  modules/nwtc-library/src/NWTC_IO.f90
Labels: Type: Bug, Module: NWTC Lib

#1310 FF: additional OpenMP parallelizations in FAST.Farm
  .github/workflows/automated-dev-tests.yml
  glue-codes/fast-farm/src/FAST_Farm_Subs.f90
  modules/awae/src/AWAE.f90
  modules/nwtc-library/src/NWTC_IO.f90
Labels: FAST.Farm

#1317 Fix for Visual Studio builds with ADI
  glue-codes/fast-farm/src/FAST_Farm_Subs.f90
  modules/aerodyn/CMakeLists.txt
  modules/aerodyn/src/AeroAcoustics_Types.f90
  modules/aerodyn/src/AeroDyn.f90
  modules/aerodyn/src/AeroDyn_IO.f90
  modules/aerodyn/src/AeroDyn_Inflow.f90
  modules/aerodyn/src/AeroDyn_Inflow_Types.f90
  vs-build/RunRegistry.bat
Labels: Module: AeroDyn, System: Visual Studio

#1318 Allow Registry to generate extrap/interp routines for types without module nickname
  modules/openfast-registry/src/gen_module_files.c
Labels: FAST Registry

#1330 VTKLin: being more forgiving with number of modes
  modules/openfast-library/src/FAST_Subs.f90
Labels: Type: Enhancement, Feature: Linearization

#1332 Documentation fixes
  docs/_static/assets_download.jpg
  docs/source/user/index.rst
Labels: Type: Documentation

#1328 FF: update of guidelines for Curled wake dr and DT_low
  docs/source/user/fast.farm/FFarmTheory.rst
  docs/source/user/fast.farm/InputFiles.rst
  docs/source/user/fast.farm/ModelGuidance.rst
Labels: Type: Documentation, FAST.Farm

#1327 add version info to c-binding libraries
  modules/aerodyn/CMakeLists.txt
  modules/aerodyn/src/AeroDyn_Inflow_C_Binding.f90
  modules/hydrodyn/CMakeLists.txt
  modules/hydrodyn/src/HydroDyn_C_Binding.f90
  modules/inflowwind/CMakeLists.txt
  modules/inflowwind/src/IfW_C_Binding.f90
  reg_tests/CTestList.cmake
  reg_tests/executeHydrodynPyRegressionCase.py
  vs-build/AeroDyn_Inflow_c_binding/AeroDyn_Inflow_c_binding.sln
  vs-build/AeroDyn_Inflow_c_binding/AeroDyn_Inflow_c_binding.vfproj
  vs-build/HydroDyn_c_binding/HydroDyn_c_binding.sln
  vs-build/HydroDyn_c_binding/HydroDyn_c_binding.vfproj
  vs-build/HydroDyn_c_lib/HydroDynDriver_c_lib.sln
  vs-build/InflowWind_c_binding/InflowWind_c_binding.vfproj
Labels: Module: AeroDyn, Module: HydroDyn, Module: InflowWind, C++ API

#1324 CFD coupling to use AD15 mesh only
  modules/aerodyn/src/AeroDyn_Driver_Types.f90
  modules/openfast-library/src/FAST_Solver.f90
  modules/openfast-library/src/FAST_Subs.f90
  modules/openfoam/src/OpenFOAM.f90
  modules/openfoam/src/OpenFOAM_Registry.txt
  modules/openfoam/src/OpenFOAM_Types.f90
  modules/openfoam/src/OpenFOAM_Types.h
Labels: Module: OpenFOAM

#1347 AeroDyn/UnsteadyAero_Driver: Fix for bug #1346
  modules/aerodyn/src/UnsteadyAero_Driver.f90
Labels: Module: AeroDyn

#1356 AeroDyn/UnsteadyAero_Driver: Fix for bug #1346
  modules/aerodyn/src/UnsteadyAero_Driver.f90
Labels: Module: AeroDyn

#1335 BeamDyn: output summary file in yaml format
  modules/beamdyn/src/BeamDyn.f90
  modules/beamdyn/src/BeamDyn_IO.f90
  modules/beamdyn/src/Driver_Beam.f90
  vs-build/AeroDyn/AeroDyn_Driver.vfproj
  vs-build/AeroDyn_Inflow_c_binding/AeroDyn_Inflow_c_binding.vfproj
Labels: Type: Enhancement, Module: BeamDyn

#1357 CI: exclude bokeh 3.0.[0-3] -- broken plots
  .github/workflows/automated-dev-tests.yml
Labels: Type: Testing
