Repository OpenFAST/openfast, pull requests merged in 2022-06, with the labels that each got.

#1144 BugFix: Fix typo in DLLEXPORT attributes for IfW C interface
  modules/inflowwind/src/IfW_C_Binding.f90
Labels: Type: Bug, Module: InflowWind, C++ API

#1057 FAST Library: add access to hub position and velocity
  glue-codes/openfast/src/FAST_Prog.cpp
  glue-codes/openfast/src/FastLibAPI.cpp
  glue-codes/openfast/src/FastLibAPI.h
  glue-codes/python/openfast_library.py
  modules/openfast-library/src/FAST_Library.f90
  modules/openfast-library/src/FAST_Library.h
  modules/openfast-library/tests/test_openfast_library.py
  reg_tests/CTestList.cmake
Labels: Type: Enhancement, Module: OpenFAST Lib

#1160 Correction to documentation on Extended Bladed DLL interface
  docs/OtherSupporting/ServoDyn/Extended_Bladed_Interface.pptx
  docs/source/user/servodyn/BladedExInterface.png
Labels: Module: ServoDyn, Type: Documentation
