Repository OpenFAST/openfast, pull requests merged in 2022-03, with the labels that each got.

#1019 docs: update rtd to use sphinxcontrib-bibtex v2.0.0 and later
  docs/conf.py
  docs/requirements.txt
  docs/source/user/aerodyn-aeroacoustics/references.bib
  docs/source/user/aerodyn-aeroacoustics/refs.rst
  docs/source/user/aerodyn-olaf/bibliography.bib
  docs/source/user/aerodyn-olaf/zrefs.rst
  docs/source/user/aerodyn/bibliography.bib
  docs/source/user/aerodyn/zrefs.rst
  docs/source/user/extptfm/bibliography.bib
  docs/source/user/extptfm/zrefs.rst
  docs/source/user/fast.farm/bibliography.bib
  docs/source/user/fast.farm/zrefs.rst
  docs/source/user/servodyn-stc/StC_Refs.bib
  docs/source/user/servodyn-stc/zrefs.rst
Labels: Type: Documentation

#920 Update in Computing Default Unsteady Airfoil Coefficients
  docs/source/user/aerodyn/input.rst
  docs/source/user/aerodyn/theory_ua.rst
  glue-codes/fast-farm/src/FASTWrapper.f90
  glue-codes/fast-farm/src/FAST_Farm_IO.f90
  modules/aerodyn/src/AeroAcoustics_IO.f90
  modules/aerodyn/src/AirfoilInfo.f90
  modules/feamooring/src/FEAM.f90
  modules/icedyn/src/IceDyn.f90
  modules/icefloe/src/interfaces/FAST/IceFloe.f90
  modules/moordyn/src/MoorDyn.f90
  modules/turbsim/src/TSsubs.f90
Labels: Module: AeroDyn

#1020 Document AD outputs
  docs/OtherSupporting/OutListParameters.xlsx
  docs/source/user/aerodyn-aeroacoustics/example/AD15.ipt
  docs/source/user/aerodyn-aeroacoustics/example/AFtab.dat
  docs/source/user/aerodyn-aeroacoustics/example/AeroAcousticsInput.dat
  docs/source/user/aerodyn/examples/ad_polar_example.dat
  docs/source/user/aerodyn/examples/ad_primary_example.dat
  glue-codes/openfast/src/FAST_Prog.f90
  modules/aerodyn/src/AeroDyn_AllBldNdOuts_IO.f90
  modules/aerodyn/src/AeroDyn_IO.f90
  modules/aerodyn/src/AeroDyn_Registry.txt
  modules/aerodyn/src/AeroDyn_Types.f90
  modules/openfast-library/src/FAST_Subs.f90
Labels: Module: AeroDyn, Type: Documentation

#1032 AD: added more nodal outputs for debugging UA
  docs/OtherSupporting/OutListParameters.xlsx
  modules/aerodyn/src/AeroDyn.f90
  modules/aerodyn/src/AeroDyn_AllBldNdOuts_IO.f90
  modules/aerodyn/src/AeroDyn_Registry.txt
  modules/aerodyn/src/AeroDyn_Types.f90
Labels: Module: AeroDyn

#1021 Reg_tests python scripts: fix issue where directory returned is empty
  reg_tests/executeAerodynRegressionCase.py
  reg_tests/executeBeamdynRegressionCase.py
  reg_tests/executeFASTFarmRegressionCase.py
  reg_tests/executeHydrodynRegressionCase.py
  reg_tests/executeInflowwindPyRegressionCase.py
  reg_tests/executeInflowwindRegressionCase.py
  reg_tests/executeOpenfastAeroAcousticRegressionCase.py
  reg_tests/executeOpenfastCppRegressionCase.py
  reg_tests/executeOpenfastLinearRegressionCase.py
  reg_tests/executeOpenfastRegressionCase.py
  reg_tests/executeSubdynRegressionCase.py
  reg_tests/manualRegressionTest.py
Labels: Type: Testing

#1043 AeroDyn: combine some FVW and BEMT output calculations
  modules/aerodyn/src/AeroDyn.f90
  modules/aerodyn/src/AeroDyn_IO.f90
Labels: Module: AeroDyn

#1045 OLAF: check for division by zero to avoid invalid calculations
  modules/aerodyn/src/FVW_Subs.f90
Labels: Module: AeroDyn

#1047 Fix HydroDyn Jacobian outputs when LinOutJac is True
  modules/hydrodyn/src/HydroDyn.f90
Labels: Type: Bug, Module: HydroDyn

#1048 MAP: small fix based on MAP 1.3
  modules/map/src/makefile
  modules/map/src/mapapi.c
  modules/map/src/mapinit.c
Labels: Module: MAP++

#1074 [BugFix] ServoDyn StC control signal channels were not zeroed properly
  modules/servodyn/src/ServoDyn.f90
Labels: Type: Bug, Module: ServoDyn
