Repository OpenFAST/openfast, pull requests merged in 2022-10, with the labels that each got.

#1266 Temporarily removing InflowWind parallelization
  modules/inflowwind/src/IfW_FFWind_Base.f90
  modules/inflowwind/src/IfW_UniformWind.f90
Labels: Module: InflowWind

#1263 FAST.Farm WriteOutput: fix for Windows Intel OMP build
  docs/OtherSupporting/OutListParameters.xlsx
  glue-codes/fast-farm/src/FASTWrapper_Types.f90
  glue-codes/fast-farm/src/FAST_Farm_IO.f90
  glue-codes/fast-farm/src/FAST_Farm_Types.f90
  vs-build/FAST-farm/FAST-Farm.vfproj
  vs-build/FASTlib/FASTlib.vfproj
Labels: System: Visual Studio, FAST.Farm

#1275 Linear Trim Solution Improvements
  modules/beamdyn/src/BeamDyn.f90
  modules/elastodyn/src/ElastoDyn.f90
  modules/nwtc-library/src/ModMesh.f90
  modules/openfast-library/src/FAST_Lin.f90
  modules/subdyn/src/SubDyn.f90
Labels: Type: Enhancement, Feature: Linearization

#1276 Bug Fix: OLAF: particles are NaN when vortex segments have zero length
  modules/aerodyn/src/FVW.f90
  modules/aerodyn/src/FVW_Subs.f90
  modules/aerodyn/src/FVW_VortexTools.f90
  reg_tests/lib/rtestlib.py
Labels: Type: Bug, Module: AeroDyn

#1293 Minor error handling and code cleanup
  modules/aerodyn/src/FVW.f90
  modules/aerodyn/src/FVW_BiotSavart.f90
  modules/aerodyn/src/FVW_IO.f90
  modules/aerodyn/src/FVW_Subs.f90
  modules/aerodyn/src/FVW_Tests.f90
  modules/aerodyn/src/FVW_VTK.f90
  modules/extptfm/src/ExtPtfm_MCKF_IO.f90
  modules/nwtc-library/src/SysIVF.f90
  modules/nwtc-library/src/SysMatlabWindows.f90
  modules/subdyn/src/SubDyn.f90
Labels: Module: AeroDyn

#889 Add a super-controller library target to CMake
  modules/supercontroller/CMakeLists.txt
  modules/supercontroller/src/SC_DLL.F90
Labels: System: CMake, FAST.Farm
