Repository OpenFAST/openfast, pull requests merged in 2022-08, with the labels that each got.

#1222 Improvements to regression test python scripts
  .github/workflows/automated-dev-tests.yml
  reg_tests/executeAerodynRegressionCase.py
  reg_tests/executeBeamdynRegressionCase.py
  reg_tests/executeFASTFarmRegressionCase.py
  reg_tests/executeHydrodynPyRegressionCase.py
  reg_tests/executeHydrodynRegressionCase.py
  reg_tests/executeInflowwindPyRegressionCase.py
  reg_tests/executeInflowwindRegressionCase.py
  reg_tests/executeOpenfastAeroAcousticRegressionCase.py
  reg_tests/executeOpenfastCppRegressionCase.py
  reg_tests/executeOpenfastLinearRegressionCase.py
  reg_tests/executeOpenfastRegressionCase.py
  reg_tests/executePythonRegressionCase.py
  reg_tests/executeSubdynRegressionCase.py
  reg_tests/lib/errorPlotting.py
  reg_tests/lib/openfastDrivers.py
  reg_tests/lib/pass_fail.py
  reg_tests/lib/rtestlib.py
  reg_tests/manualRegressionTest.py
Labels: Type: Testing

#1227 Seg Fault due to hub model and external inflow
  modules/openfast-library/src/FAST_Solver.f90
Labels: Type: Bug, C++ API

#1239 AeroAcoustics: fix BL-thickness for heavily-tripped airfoil
  modules/aerodyn/src/AeroAcoustics.f90
Labels: Type: Bug, Module: AeroDyn

#1230 HD: increase max length of line read from kinematics files
  modules/hydrodyn/src/UserWaves.f90
Labels: Module: HydroDyn
