Repository OpenFAST/openfast, pull requests merged in 2022-05, with the labels that each got.

#1050 Fix aeroelastic stability analysis with BeamDyn
  modules/aerodyn/src/AeroDyn.f90
  modules/aerodyn/src/AeroDyn_IO.f90
  modules/aerodyn/src/AeroDyn_Registry.txt
  modules/aerodyn/src/AeroDyn_Types.f90
  modules/aerodyn/src/BEMTUncoupled.f90
  modules/beamdyn/src/3DRotations_Rev2.docx
  modules/beamdyn/src/BeamDyn.f90
  modules/beamdyn/src/BeamDyn_IO.f90
  modules/elastodyn/src/ElastoDyn.f90
  modules/hydrodyn/src/HydroDyn.f90
  modules/nwtc-library/src/ModMesh.f90
  modules/nwtc-library/src/NWTC_Num.f90
  modules/openfast-library/src/FAST_Lin.f90
  modules/subdyn/src/SubDyn.f90
  modules/subdyn/src/SubDyn_Output.f90
Labels: Module: BeamDyn, Feature: Linearization

#1141 Move AD module reg tests to a standalone job
  .github/workflows/automated-dev-tests.yml
Labels: Module: AeroDyn, Type: Testing

#1140 Add non-rotating hub forces to Bladed Interface
  docs/source/user/servodyn/SrvD--Ex.sum
  modules/elastodyn/src/ElastoDyn.f90
  modules/elastodyn/src/ElastoDyn_Registry.txt
  modules/elastodyn/src/ElastoDyn_Types.f90
  modules/openfast-library/src/FAST_Solver.f90
  modules/servodyn/src/BladedInterface.f90
  modules/servodyn/src/ServoDyn_Registry.txt
  modules/servodyn/src/ServoDyn_Types.f90
Labels: Module: ServoDyn
