Repository OpenFAST/openfast, pull requests merged in 2022-12, with the labels that each got.

#1361 TurbSim: User-defined time series updates
  modules/turbsim/src/TSsubs.f90
Labels: Module: TurbSim

#1365 OpFM: [bugfix] test for warning condition was broken
  modules/openfoam/src/OpenFOAM.f90
Labels: Type: Bug, Module: OpenFOAM

#1372 [BugFix] the DEBUG_OPENFOAM preprocessor directive was never updated for multiple AD15 rotors
  modules/openfoam/src/OpenFOAM.f90
Labels: Module: OpenFOAM

#1371 MoorDyn bending bugfix and message updates for v2
  modules/moordyn/src/MoorDyn.f90
  modules/moordyn/src/MoorDyn_Line.f90
Labels: Module: MoorDyn

#1376 Add `regression_tests` to the ALL target.
  reg_tests/CMakeLists.txt
Labels: System: CMake

#1392 GetNewUnit: increase allowed number of open files to 16384
  modules/nwtc-library/src/NWTC_IO.f90
Labels: FAST.Farm
