Repository OpenFAST/openfast, pull requests merged in 2023-09, with the labels that each got.

#1759 InflowWind Flow Field fails to calculate AvgVel for large wind files when using Intel Compiler
  .github/workflows/automated-dev-tests.yml
  modules/inflowwind/src/IfW_FlowField.f90
  reg_tests/CTestList.cmake
Labels: Type: Bug, Module: InflowWind, Compiler: Intel

#1752 MAP++ linear spring approach improvement
  modules/map/src/lineroutines.c
Labels: Type: Bug, Module: MAP++

#1769 Add additional modulo in IfW_FlowField
  modules/inflowwind/src/IfW_FlowField.f90
Labels: Type: Bug, Module: InflowWind

#1776 HD Bug Fix: AddF0 for multiple potential-flow bodies with NBodyMod!=1
  modules/hydrodyn/src/HydroDyn.f90
Labels: Type: Bug, Module: HydroDyn

#1788 Readthedocs configuration changes
  .readthedocs.yml
Labels: Type: Documentation

#1780 HD Bug Fix: Fix AddF0 for multiple potential-flow bodies with NBodyMod/=0
  modules/hydrodyn/src/HydroDyn.f90
Labels: Module: HydroDyn

#1768 Visualization of HydroDyn Morison mesh and MoorDyn lines
  modules/hydrodyn/src/HydroDyn.f90
  modules/hydrodyn/src/HydroDyn.txt
  modules/hydrodyn/src/HydroDyn_Types.f90
  modules/hydrodyn/src/Morison.f90
  modules/hydrodyn/src/Morison.txt
  modules/hydrodyn/src/Morison_Types.f90
  modules/moordyn/src/MoorDyn.f90
  modules/moordyn/src/MoorDyn_Line.f90
  modules/moordyn/src/MoorDyn_Registry.txt
  modules/moordyn/src/MoorDyn_Rod.f90
  modules/moordyn/src/MoorDyn_Types.f90
  modules/openfast-library/src/FAST_Registry.txt
  modules/openfast-library/src/FAST_Subs.f90
  modules/openfast-library/src/FAST_Types.f90
Labels: Type: Enhancement, Module: HydroDyn, Module: MoorDyn
