Repository OpenFAST/openfast, pull requests merged in 2023-11, with the labels that each got.

#1862 SeaState: Fix typo in message about adjusting WvHiCOff based on WaveDT
  modules/seastate/src/SeaState_Input.f90
Labels: Module: SeaState

#1869 IfW: check that uniform wind file time vector is always increasing
  modules/inflowwind/src/InflowWind_IO.f90
Labels: Module: InflowWind

#1872 Fix segfault in HD when no outputs specified
  modules/hydrodyn/src/HydroDyn_Input.f90
Labels: Type: Bug, Module: HydroDyn

#1864 Cleanup HydroDyn and SeaState code
  modules/hydrodyn/CMakeLists.txt
  modules/hydrodyn/src/Conv_Radiation.f90
  modules/hydrodyn/src/HydroDyn.f90
  modules/hydrodyn/src/HydroDyn.txt
  modules/hydrodyn/src/HydroDyn_C_Binding.f90
  modules/hydrodyn/src/HydroDyn_DriverCode.f90
  modules/hydrodyn/src/HydroDyn_DriverSubs.f90
  modules/hydrodyn/src/HydroDyn_Input.f90
  modules/hydrodyn/src/HydroDyn_Output.f90
  modules/hydrodyn/src/HydroDyn_Types.f90
  modules/hydrodyn/src/Morison.f90
  modules/hydrodyn/src/Morison.txt
  modules/hydrodyn/src/Morison_Types.f90
  modules/hydrodyn/src/SS_Excitation.f90
  modules/hydrodyn/src/SS_Excitation.txt
  modules/hydrodyn/src/SS_Excitation_Driver.f90
  modules/hydrodyn/src/SS_Excitation_Types.f90
  modules/hydrodyn/src/SS_Radiation_DriverCode.f90
  modules/hydrodyn/src/WAMIT.f90
  modules/hydrodyn/src/WAMIT.txt
  modules/hydrodyn/src/WAMIT2.f90
  modules/hydrodyn/src/WAMIT2.txt
  modules/hydrodyn/src/WAMIT2_Types.f90
  modules/hydrodyn/src/WAMIT_Types.f90
  modules/nwtc-library/src/NWTC_RandomNumber.f90
  modules/nwtc-library/src/ranlux/RANLUX.f90
  modules/openfast-library/src/FAST_Subs.f90
  modules/seastate/src/Current.f90
  modules/seastate/src/Current.txt
  modules/seastate/src/Current_Types.f90
  modules/seastate/src/SeaSt_WaveField.f90
  modules/seastate/src/SeaSt_WaveField.txt
  modules/seastate/src/SeaSt_WaveField_Types.f90
  modules/seastate/src/SeaState.f90
  modules/seastate/src/SeaState.txt
  modules/seastate/src/SeaState_DriverCode.f90
  modules/seastate/src/SeaState_Input.f90
  modules/seastate/src/SeaState_Interp.f90
  modules/seastate/src/SeaState_Interp.txt
  modules/seastate/src/SeaState_Interp_Types.f90
  modules/seastate/src/SeaState_Output.f90
  modules/seastate/src/SeaState_Types.f90
  modules/seastate/src/UserWaves.f90
  modules/seastate/src/Waves.f90
  modules/seastate/src/Waves.txt
  modules/seastate/src/Waves2.f90
  modules/seastate/src/Waves2.txt
  modules/seastate/src/Waves2_Types.f90
  modules/seastate/src/Waves_Types.f90
  vs-build/HydroDyn_c_binding/HydroDyn_c_binding.vfproj
  vs-build/SeaState/SeaStateDriver.vfproj
Labels: Module: HydroDyn, Module: SeaState

#1883 HD: Remove extra copy of `WaveStMod` from Morison
  modules/hydrodyn/src/Morison.f90
  modules/hydrodyn/src/Morison.txt
  modules/hydrodyn/src/Morison_Types.f90
Labels: Module: HydroDyn, Module: SeaState
