Repository OpenFAST/openfast, pull requests merged in 2023-07, with the labels that each got.

#1677 AD: fix offset introduced in TwrPotent_Bak (see #1595)
  modules/aerodyn/src/AeroDyn.f90
Labels: Type: Bug, Module: AeroDyn

#1682 Fix missing symbols for Simulink and LAPACK build
  CMakeLists.txt
  glue-codes/simulink/CMakeLists.txt
  modules/openfoam/CMakeLists.txt
Labels: Type: Bug, Type: Build issue, System: Unix, System: CMake, Status: In progress, Sytem: MATLAB/Simulink

#1698 Fix ExternalInflow rename in Visual Studio
  vs-build/FASTlib/FASTlib.vfproj
  vs-build/MAPlib/MAP_dll.vcxproj
  vs-build/RunRegistry.bat
Labels: Type: Build issue, System: Visual Studio, Module: OpenFOAM

#1700 Remove deleted variables BlFB and BlMB from AeroDyn_AllBldNdOuts_IO
  modules/aerodyn/src/AeroDyn_AllBldNdOuts_IO.f90
  modules/aerodyn/src/AeroDyn_Registry.txt
  modules/aerodyn/src/AeroDyn_Types.f90
  modules/openfast-library/src/FAST_Types.f90
  modules/openfoam/src/OpenFOAM_Types.f90
Labels: Module: AeroDyn, Module: InflowWind, Feature: MHK

#1707 Linear trim solution: add error check
  modules/openfast-library/src/FAST_Subs.f90
Labels: Feature: trim solution
