Repository OpenFAST/openfast, pull requests merged in 2023-05, with the labels that each got.

#1555 [BugFix] Modernize CMake, remove object libraries, build Simulink MEX
  .github/workflows/automated-dev-tests.yml
  CMakeLists.txt
  cmake/FindMatlab.cmake
  cmake/OpenfastFortranOptions.cmake
  glue-codes/CMakeLists.txt
  glue-codes/fast-farm/CMakeLists.txt
  glue-codes/openfast-cpp/CMakeLists.txt
  glue-codes/openfast/CMakeLists.txt
  glue-codes/simulink/CMakeLists.txt
  glue-codes/simulink/src/create_FAST_SFunc.m
  modules/aerodyn/CMakeLists.txt
  modules/aerodyn/src/AeroDyn.f90
  modules/aerodyn14/CMakeLists.txt
  modules/awae/CMakeLists.txt
  modules/beamdyn/CMakeLists.txt
  modules/elastodyn/CMakeLists.txt
  modules/extptfm/CMakeLists.txt
  modules/feamooring/CMakeLists.txt
  modules/hydrodyn/CMakeLists.txt
  modules/icedyn/CMakeLists.txt
  modules/icefloe/CMakeLists.txt
  modules/inflowwind/CMakeLists.txt
  modules/map/CMakeLists.txt
  modules/moordyn/CMakeLists.txt
  modules/nwtc-library/CMakeLists.txt
  modules/openfast-library/CMakeLists.txt
  modules/openfoam/CMakeLists.txt
  modules/orcaflex-interface/CMakeLists.txt
  modules/servodyn/CMakeLists.txt
  modules/subdyn/CMakeLists.txt
  modules/supercontroller/CMakeLists.txt
  modules/turbsim/CMakeLists.txt
  modules/version/CMakeLists.txt
  modules/wakedynamics/CMakeLists.txt
  unit_tests/aerodyn/CMakeLists.txt
  unit_tests/version/CMakeLists.txt
Labels: Type: Bug, Type: Build issue, System: CMake, Sytem: MATLAB/Simulink

#1559 [BugFix] Limit urllib3 version for readthedocs building
  docs/requirements.txt
Labels: Type: Documentation

#1560 [BugFix] Visual Studio only building in Single Precision
  vs-build/AeroDyn/AeroDyn_Driver.vfproj
  vs-build/AeroDyn_Inflow_c_binding/AeroDyn_Inflow_c_binding.vfproj
  vs-build/BeamDyn/BeamDyn.vfproj
  vs-build/FAST/FAST.vfproj
  vs-build/FASTlib/FASTlib.vfproj
  vs-build/HydroDyn/HydroDynDriver.vfproj
  vs-build/HydroDyn_c_binding/HydroDyn_c_binding.vfproj
  vs-build/InflowWind/InflowWind_driver.vfproj
  vs-build/InflowWind_c_binding/InflowWind_c_binding.vfproj
  vs-build/MoorDyn_c_binding/MoorDyn_c_binding.vfproj
  vs-build/SubDyn/SubDyn.vfproj
  vs-build/UnsteadyAero/UnsteadyAero.vfproj
Labels: Type: Bug, System: Visual Studio, Module: NWTC Lib

#1567 B/ad divide by zero
  modules/aerodyn/src/AeroDyn.f90
Labels: Type: Bug, Module: AeroDyn
