Repository OpenFAST/openfast, pull requests merged in 2023-06, with the labels that each got.

#1618 [BugFix] OpenFAST Registry on Windows
  glue-codes/simulink/CMakeLists.txt
  modules/map/CMakeLists.txt
  modules/openfast-registry/CMakeLists.txt
  modules/openfast-registry/src/main.cpp
  modules/openfast-registry/src/registry.cpp
  modules/openfast-registry/src/registry_gen_fortran.cpp
  modules/openfast-registry/src/templates.hpp
Labels: Module: MAP++, FAST Registry

#1620 [BugFix] ServoDyn inputs for Lidar allocated twice, and a few other minor issues
  modules/inflowwind/src/Lidar.f90
  modules/servodyn/src/BladedInterface_EX.f90
Labels: Module: Lidar

#1621 [BugFix] HD wave visualization with 2nd order waves
  modules/hydrodyn/src/HydroDyn.f90
Labels: Module: HydroDyn

#1624 Use pointers to couple InflowWind and FAST.Farm
  glue-codes/fast-farm/src/FASTWrapper.f90
  glue-codes/fast-farm/src/FASTWrapper_Registry.txt
  glue-codes/fast-farm/src/FASTWrapper_Types.f90
  glue-codes/fast-farm/src/FAST_Farm_Subs.f90
  modules/awae/src/AWAE.f90
  modules/awae/src/AWAE_Registry.txt
  modules/awae/src/AWAE_Types.f90
  modules/inflowwind/src/IfW_FlowField.f90
  modules/inflowwind/src/IfW_FlowField.txt
  modules/inflowwind/src/IfW_FlowField_Types.f90
  modules/inflowwind/src/InflowWind_IO.f90
  modules/inflowwind/src/InflowWind_IO.txt
  modules/inflowwind/src/InflowWind_IO_Types.f90
  modules/openfast-library/src/FAST_Registry.txt
  modules/openfast-library/src/FAST_Subs.f90
  modules/openfast-library/src/FAST_Types.f90
Labels: Type: Enhancement, Module: InflowWind, Status: Review, FAST.Farm, Module: OpenFAST Lib, Module: AWAE

#1629 MHK: add parameters for readability
  modules/aerodyn/src/AeroDyn.f90
  modules/aerodyn/src/AeroDyn_Driver_Subs.f90
  modules/aerodyn/src/AeroDyn_Inflow.f90
  modules/aerodyn/src/FVW_Subs.f90
  modules/elastodyn/src/ElastoDyn.f90
  modules/elastodyn/src/ElastoDyn_IO.f90
  modules/inflowwind/src/InflowWind_Subs.f90
  modules/nwtc-library/src/NWTC_Library.f90
  modules/openfast-library/src/FAST_Solver.f90
  modules/openfast-library/src/FAST_Subs.f90
Labels: Module: NWTC Lib, Feature: MHK

#1623 Ensure the estimated intersections between the free surface and the Morison members are treated as under water
  modules/hydrodyn/src/Morison.f90
  modules/hydrodyn/src/Morison.txt
  modules/hydrodyn/src/Morison_Types.f90
  modules/seastate/src/SeaSt_WaveField.f90
  modules/seastate/src/SeaState.f90
Labels: Module: HydroDyn, Module: SeaState

#1630 Make CMake module libs STATIC
  glue-codes/openfast-cpp/CMakeLists.txt
  modules/aerodyn/CMakeLists.txt
  modules/aerodyn14/CMakeLists.txt
  modules/awae/CMakeLists.txt
  modules/beamdyn/CMakeLists.txt
  modules/elastodyn/CMakeLists.txt
  modules/extptfm/CMakeLists.txt
  modules/feamooring/CMakeLists.txt
  modules/hydrodyn/CMakeLists.txt
  modules/icedyn/CMakeLists.txt
  modules/icefloe/CMakeLists.txt
  modules/inflowwind/CMakeLists.txt
  modules/map/CMakeLists.txt
  modules/moordyn/CMakeLists.txt
  modules/nwtc-library/CMakeLists.txt
  modules/openfast-library/CMakeLists.txt
  modules/openfoam/CMakeLists.txt
  modules/orcaflex-interface/CMakeLists.txt
  modules/seastate/CMakeLists.txt
  modules/servodyn/CMakeLists.txt
  modules/subdyn/CMakeLists.txt
  modules/supercontroller/CMakeLists.txt
  modules/version/CMakeLists.txt
  modules/wakedynamics/CMakeLists.txt
Labels: Type: Enhancement, System: CMake, Status: Review, Feature: Usage Support

#1647 Fix adding OpenMP flags to CMAKE_Fortran_FLAGS
  CMakeLists.txt
Labels: Type: Bug, System: CMake

#1648 FF: fix bug with Mod_AmbWind=3 -- hub point wasn't shifted.
  modules/awae/src/AWAE.f90
  modules/inflowwind/src/InflowWind_Subs.f90
Labels: Type: Bug, FAST.Farm, Module: AWAE

#1654 ED/AD: fix segfault when BldNd_BladesOut==0
  modules/aerodyn/src/AeroDyn_IO.f90
  modules/elastodyn/src/ElastoDyn_IO.f90
Labels: Module: AeroDyn, Module: ElastoDyn

#1658 AD/TailFin: Bug Fix: remove chord in fy (see #1653)
  modules/aerodyn/src/AeroDyn.f90
Labels: Type: Bug, Module: AeroDyn

#1657 AD Driver: stack size for 64 bit solutions (see #1260)
  vs-build/AeroDyn/AeroDyn_Driver.vfproj
Labels: Module: AeroDyn, System: Windows, System: Visual Studio

#1664 TurbSim documentation
  docs/OtherSupporting/TurbSim/Corrections.md
  docs/source/user/turbsim/examples/TurbSim_User.profiles
Labels: Type: Documentation, Module: TurbSim
