Repository OpenFAST/openfast, pull requests merged in 2023-08, with the labels that each got.

#1715 AD: Initial AeroMap changes for AeroDyn and misc UA/DBEMT changes
  modules/aerodyn/src/AeroDyn.f90
  modules/aerodyn/src/AeroDyn_Registry.txt
  modules/aerodyn/src/AeroDyn_Types.f90
  modules/aerodyn/src/BEMT.f90
  modules/aerodyn/src/DBEMT.f90
  modules/aerodyn/src/FVW_Subs.f90
  modules/aerodyn/src/UnsteadyAero.f90
  modules/aerodyn/src/UnsteadyAero_Registry.txt
  modules/aerodyn/src/UnsteadyAero_Types.f90
Labels: Module: AeroDyn

#1730 Add additional modulo in IfW_FlowField for periodic wind
  modules/inflowwind/src/IfW_FlowField.f90
Labels: Type: Bug, Module: InflowWind, Status: Review

#1731 Blade Pitch input to ElastoDyn drifts during solution if ServoDyn is not active
  modules/nwtc-library/src/NWTC_Num.f90
Labels: Type: Bug, FAST Registry

#1729 FF: fix plane output for wakedynamics
  glue-codes/fast-farm/src/FAST_Farm_Subs.f90
  modules/wakedynamics/src/WakeDynamics.f90
Labels: Type: Bug, FAST.Farm

#1748 IfW: Bug Fix: compute vel avg profile when exceed allowed
  modules/inflowwind/src/InflowWind.f90
Labels: Module: InflowWind, Module: OLAF
