Repository OpenFAST/openfast, pull requests merged in 2023-10, with the labels that each got.

#1771 Change BD states to follow the blade root reference frame
  modules/beamdyn/src/BeamDyn.f90
  modules/beamdyn/src/BeamDyn_BldNdOuts_IO.f90
  modules/beamdyn/src/BeamDyn_IO.f90
  modules/beamdyn/src/BeamDyn_Subs.f90
  modules/beamdyn/src/BeamDyn_Types.f90
  modules/beamdyn/src/Driver_Beam.f90
  modules/beamdyn/src/Driver_Beam_Subs.f90
  modules/beamdyn/src/Registry_BeamDyn.txt
  modules/beamdyn/tests/test_BD_InputGlobalLocal.F90
  modules/beamdyn/tests/test_ExtractRelativeRotation.F90
  modules/beamdyn/tests/test_tools.F90
Labels: Module: BeamDyn

#1794 Update minimum cmake version for regression tests
  reg_tests/CMakeLists.txt
Labels: System: CMake

#1791 Apply the FakeGroundEffect to all FWspan points
  modules/aerodyn/src/FVW_Subs.f90
Labels: Module: AeroDyn

#1760 Add output channels of linear acceleration relative to g in ElastoDyn
  docs/OtherSupporting/OutListParameters.xlsx
  modules/elastodyn/src/ElastoDyn.f90
  modules/elastodyn/src/ElastoDyn_IO.f90
Labels: Module: ElastoDyn

#1805 [BugFix] SrvD segfault if lidar used, but no SumPrint
  modules/servodyn/src/BladedInterface_EX.f90
Labels: Type: Bug, Module: ServoDyn, Module: Lidar

#1586 Remove openfast_cpp target if BUILD_OPENFAST_CPP_API not selected
  .github/workflows/automated-dev-tests.yml
  CMakeLists.txt
  glue-codes/openfast/CMakeLists.txt
  modules/openfast-library/src/FAST_Registry.txt
  modules/openfast-library/src/FAST_Types.f90
  reg_tests/CMakeLists.txt
  reg_tests/CTestList.cmake
Labels: System: CMake, C++ API

#1811 AD15 driver: segmentation fault with intel compiler when no blades
  modules/aerodyn/src/AeroDyn.f90
Labels: Module: AeroDyn

#1818 VS-build updates for rc-3.5.1 and other minor updates
  docs/source/user/api_change.rst
  modules/aerodyn/src/AeroDyn_Inflow_C_Binding.f90
  modules/moordyn/src/MoorDyn_Registry.txt
  modules/moordyn/src/MoorDyn_Types.f90
  modules/openfast-library/src/FAST_Types.f90
  reg_tests/lib/errorPlotting.py
  vs-build/AeroDyn/AeroDyn_Driver.sln
  vs-build/AeroDyn/AeroDyn_Driver.vfproj
  vs-build/AeroDyn_Inflow_c_binding/AeroDyn_Inflow_c_binding.sln
  vs-build/AeroDyn_Inflow_c_binding/AeroDyn_Inflow_c_binding.vfproj
  vs-build/InflowWind/InflowWind_driver.sln
  vs-build/InflowWind/InflowWind_driver.vfproj
Labels: System: Visual Studio, Type: Testing

#1804 Bug Fix with MSL2SWL
  modules/hydrodyn/src/Morison.f90
  modules/seastate/src/SeaState.f90
  modules/seastate/src/SeaState.txt
  modules/seastate/src/SeaState_Input.f90
  modules/seastate/src/SeaState_Types.f90
Labels: Type: Bug, Module: HydroDyn, Module: SeaState
