Repository OpenFAST/openfast, pull requests merged in 2023-04, with the labels that each got.

#1509 AeroDyn: Improved coning and prebend modeling in future BEM
  modules/aerodyn/src/AeroDyn.f90
  modules/aerodyn/src/AeroDyn_Driver_Registry.txt
  modules/aerodyn/src/AeroDyn_Driver_Subs.f90
  modules/aerodyn/src/AeroDyn_Driver_Types.f90
  modules/aerodyn/src/AeroDyn_IO.f90
  modules/aerodyn/src/AeroDyn_Inflow.f90
  modules/aerodyn/src/AeroDyn_Registry.txt
  modules/aerodyn/src/AeroDyn_Types.f90
  modules/aerodyn/src/BEMT.f90
  modules/aerodyn/src/BEMTUncoupled.f90
  modules/aerodyn/src/FVW.f90
  modules/aerodyn/src/FVW_IO.f90
Labels: Type: Enhancement, Module: AeroDyn

#1506 Fix compilation issue, using Intel OneAPI on Linux
  modules/map/CMakeLists.txt
Labels: System: CMake

#1427 Improve cmake's FindMKL to avoid runtime issues and preloading libraries
  cmake/FindMKL.cmake
Labels: System: CMake

#1010 Use Cmake OBJECT libraries to create openfastlib and add option to use downloaded reference lapack and blas sources
  CMakeLists.txt
  glue-codes/openfast-cpp/CMakeLists.txt
  glue-codes/openfast/CMakeLists.txt
  glue-codes/simulink/src/create_FAST_SFunc.m
  modules/aerodyn/CMakeLists.txt
  modules/aerodyn14/CMakeLists.txt
  modules/beamdyn/CMakeLists.txt
  modules/elastodyn/CMakeLists.txt
  modules/extptfm/CMakeLists.txt
  modules/feamooring/CMakeLists.txt
  modules/hydrodyn/CMakeLists.txt
  modules/icedyn/CMakeLists.txt
  modules/icefloe/CMakeLists.txt
  modules/inflowwind/CMakeLists.txt
  modules/map/CMakeLists.txt
  modules/moordyn/CMakeLists.txt
  modules/nwtc-library/CMakeLists.txt
  modules/openfast-library/CMakeLists.txt
  modules/openfoam/CMakeLists.txt
  modules/orcaflex-interface/CMakeLists.txt
  modules/servodyn/CMakeLists.txt
  modules/subdyn/CMakeLists.txt
  modules/supercontroller/CMakeLists.txt
  modules/version/CMakeLists.txt
  modules/wakedynamics/CMakeLists.txt
Labels: System: CMake, Status: In progress, Status: Review

#1530 Bugfixes for PR #1010 (CMake)
  modules/map/CMakeLists.txt
  modules/nwtc-library/CMakeLists.txt
Labels: System: CMake

#1533 [BugFix] AWAE attempting to get size of possibly unallocated array
  modules/awae/src/AWAE.f90
Labels: Type: Bug

#1531 SD Bug Fix: diameter not set properly for rectangular beams
  modules/subdyn/src/SD_FEM.f90
Labels: Module: SubDyn

#1534 Fix potential error when requesting wind below the ground (also fix build issue with SD syntax)
  modules/inflowwind/src/IfW_FlowField.f90
  modules/inflowwind/src/InflowWind_IO.f90
  modules/subdyn/src/SubDyn.f90
Labels: Module: InflowWind

#1526 SD: removing static improvement method (SIM) from SubDyn elastic output mesh (y3 mesh)
  docs/source/user/subdyn/theory.rst
  modules/openfast-library/src/FAST_Subs.f90
  modules/subdyn/src/SubDyn.f90
  modules/subdyn/src/SubDyn_Output.f90
  modules/subdyn/src/SubDyn_Registry.txt
  modules/subdyn/src/SubDyn_Types.f90
Labels: Module: SubDyn

#1535 [BugFix] CMake build on Windows and Ninja build on all platforms
  CMakeLists.txt
  cmake/FindMKL.cmake
  glue-codes/openfast/CMakeLists.txt
  reg_tests/CMakeLists.txt
  reg_tests/CTestList.cmake
  unit_tests/CMakeLists.txt
  unit_tests/aerodyn/CMakeLists.txt
  unit_tests/beamdyn/CMakeLists.txt
  unit_tests/inflowwind/CMakeLists.txt
  unit_tests/nwtc-library/CMakeLists.txt
  unit_tests/version/CMakeLists.txt
Labels: Type: Bug, Type: Build issue, System: Windows, System: CMake, System: Visual Studio

#1537 AWAE: fix early termination issue in AWAE_Init
  modules/awae/src/AWAE.f90
Labels: Module: AWAE

#1538 Add support for Flang (Classic) compiler
  CMakeLists.txt
  cmake/OpenfastFortranOptions.cmake
  modules/aerodyn14/CMakeLists.txt
  modules/aerodyn14/src/AeroSubs.f90
  modules/beamdyn/src/BeamDyn_IO.f90
  modules/nwtc-library/CMakeLists.txt
  modules/nwtc-library/src/NWTC_Base.f90
  modules/nwtc-library/src/SysFlangLinux.f90
  modules/subdyn/src/SD_FEM.f90
  modules/subdyn/src/SubDyn.f90
Labels: Type: Build issue, Compiler: Flang

#1542 [BugFix] segfault with gfortran 10.4.0 -- NWTC_Base.f90
  cmake/OpenfastFortranOptions.cmake
  modules/nwtc-library/src/NWTC_Base.f90
Labels: Type: Build issue, Compiler: GNU

#1549 [Bugfix] InflowWind: using derived types to read wind file headers failed when using ifort.
  modules/inflowwind/src/InflowWind_IO.f90
Labels: Type: Bug, Module: InflowWind, Compiler: Intel

#1550 TurbSim bug fix: fix index into Z array for text grid files
  modules/turbsim/src/TS_FileIO.f90
Labels: Module: TurbSim
