Repository OpenFAST/openfast, pull requests merged in 2024-01, with the labels that each got.

#1968 VS: update VS build process to include ExtLoads
  vs-build/FASTlib/FASTlib.vfproj
  vs-build/RunRegistry.bat
Labels: Type: Build issue, System: Visual Studio

#1973 Use AD tower diameter for VTK visualization + minor improvements
  modules/aerodyn/src/AirfoilInfo.f90
  modules/aerodyn/src/UnsteadyAero.f90
  modules/hydrodyn/src/HydroDyn.txt
  modules/hydrodyn/src/HydroDyn_Types.f90
  modules/nwtc-library/src/NWTC_IO.f90
  modules/nwtc-library/src/Registry_NWTC_Library.txt
  modules/nwtc-library/src/SysIVF.f90
  modules/nwtc-library/src/SysMatlabWindows.f90
  modules/nwtc-library/src/VTK.f90
  modules/nwtc-library/src/readme.txt
  modules/openfast-library/src/FAST_Lin.f90
  modules/openfast-library/src/FAST_Subs.f90
  modules/openfast-registry/src/registry_gen_fortran.cpp
Labels: Type: Enhancement, Module: AeroDyn

#1989 Bug: openfastcpp executable is installed to lib directory instead of bin
  glue-codes/openfast-cpp/CMakeLists.txt
Labels: Type: Bug, Type: Build issue, C++ API

#1990 MD version update
  modules/moordyn/src/MoorDyn.f90
  modules/moordyn/src/MoorDyn_Driver.f90
Labels: Module: MoorDyn

#1992 SeaState: fix grid size in wave surface visualization
  modules/openfast-library/src/FAST_Registry.txt
  modules/openfast-library/src/FAST_Subs.f90
  modules/openfast-library/src/FAST_Types.f90
  modules/seastate/src/SeaState.f90
  modules/seastate/src/SeaState.txt
  modules/seastate/src/SeaState_DriverCode.f90
  modules/seastate/src/SeaState_Types.f90
Labels: Module: SeaState

#1998 switch from -fpic to -fPIC for all gfortran builds
  cmake/OpenfastFortranOptions.cmake
Labels: System: CMake

#2001 ExtLoads: move integers from inputs to parameters
  glue-codes/openfast-cpp/src/OpenFAST.H
  glue-codes/openfast-cpp/src/OpenFAST.cpp
  modules/extloads/src/ExtLoads.f90
  modules/extloads/src/ExtLoadsDX_Registry.txt
  modules/extloads/src/ExtLoadsDX_Types.f90
  modules/extloads/src/ExtLoadsDX_Types.h
  modules/extloads/src/ExtLoads_Registry.txt
  modules/extloads/src/ExtLoads_Types.f90
  modules/openfast-library/src/FAST_Library.f90
  modules/openfast-library/src/FAST_Library.h
Labels: C++ API, Module: ExtLoads

#2013 Minor MD bug fixes: Bathymetry
  modules/moordyn/src/MoorDyn_IO.f90
  modules/moordyn/src/MoorDyn_Misc.f90
Labels: Module: MoorDyn

#2016 Change input string size for bathgrid and waterkin input files
  modules/moordyn/src/MoorDyn_IO.f90
  modules/moordyn/src/MoorDyn_Misc.f90
Labels: Module: MoorDyn
