Repository OpenFAST/openfast, pull requests merged in 2024-04, with the labels that each got.

#2134 SrvD: Fix seg fault if blade StC used while writing summary file
  docs/changelogs/v3.5.3.md
  modules/servodyn/src/ServoDyn.f90
Labels: Module: ServoDyn

#2136 ADI: adilib was getting included in aerodynlib
  modules/aerodyn/CMakeLists.txt
Labels: System: CMake

#2138 Remove linking of implicit Fortran libraries.
  docs/changelogs/v3.5.3.md
  modules/nwtc-library/CMakeLists.txt
Labels: System: CMake

#2140 ADI: disable OMP in AeroDyn_Inflow.f90
  modules/aerodyn/src/AeroDyn_Inflow.f90
Labels: Module: AeroDyn

#2141 GH actions to push docker image to Github container registry
  .github/workflows/build-docker-image-automatic.yml
  .github/workflows/build-docker-image-manual.yml
Labels: System: Docker

#2144 Edit to readthedocs.io -- Adding Internal Reference Hyperlink for appendixD.rst
  docs/source/user/subdyn/appendixD.rst
Labels: Type: Documentation

#2145 Docs/update for 3.5.3 release
  docs/changelogs/v3.5.3.md
  docs/source/install/index.rst
Labels: Type: Documentation

#2154 GH actions: build docker on release instead of merge
  .github/workflows/build-docker-image-automatic.yml
Labels: System: Docker

#2173 Fix crash in MAP_End when using Intel's new icx compiler and disable caching in setup-python GH action
  .github/workflows/automated-dev-tests.yml
  modules/map/src/mapinit.c
Labels: Type: Bug, Module: MAP++, Regression Tests, Github Actions
