Repository OpenFAST/openfast, pull requests merged in 2024-06, with the labels that each got.

#2243 Initialize mass matrix to zeros in Moordyn
  modules/moordyn/src/MoorDyn_Body.f90
Labels: Module: MoorDyn

#2249 Bug in OpenFAST Registry Unpacking Structures with C_obj data
  modules/externalinflow/src/ExternalInflow_Types.f90
  modules/extloads/src/ExtLoadsDX_Types.f90
  modules/map/src/MAP_Types.f90
  modules/openfast-registry/src/registry_gen_fortran.cpp
  modules/supercontroller/src/SCDataEx_Types.f90
  modules/supercontroller/src/SuperController_Types.f90
Labels: Type: Bug, FAST Registry

#2256 Remove ModVar from dev as ROCm Flang compiler can't build it.
  modules/nwtc-library/CMakeLists.txt
  modules/nwtc-library/src/ModVar.f90
  modules/nwtc-library/src/NWTC_Library.f90
Labels: Type: Build issue, Module: NWTC Lib, Compiler: Flang

#2262 Remove ModVar.f90 from VS projects (see PR #2256)
  vs-build/AeroDyn/AeroDyn_Driver.vfproj
  vs-build/AeroDyn_Inflow_c_binding/AeroDyn_Inflow_c_binding.vfproj
  vs-build/BeamDyn/BeamDyn.vfproj
  vs-build/FASTlib/FASTlib.vfproj
  vs-build/HydroDyn/HydroDynDriver.vfproj
  vs-build/HydroDyn_c_binding/HydroDyn_c_binding.vfproj
  vs-build/InflowWind/InflowWind_driver.vfproj
  vs-build/InflowWind_c_binding/InflowWind_c_binding.vfproj
  vs-build/MoorDyn/MoorDynDriver.vfproj
  vs-build/MoorDyn_c_binding/MoorDyn_c_binding.vfproj
  vs-build/SeaState/SeaStateDriver.vfproj
  vs-build/SubDyn/SubDyn.vfproj
  vs-build/TurbSim/TurbSim.vfproj
  vs-build/UnsteadyAero/UnsteadyAero.vfproj
Labels: System: Visual Studio
