Repository OpenFAST/openfast, pull requests merged in 2024-07, with the labels that each got.

#2312 MD: remove tab characters from source code files
  modules/moordyn/src/MoorDyn.f90
  modules/moordyn/src/MoorDyn_Line.f90
Labels: Module: MoorDyn

#2310 Update to rotation matrix comments in NWTC Library
  modules/nwtc-library/src/NWTC_Num.f90
Labels: Type: Documentation, Module: NWTC Lib

#2317 Initialize ED RtHS to zeros
  modules/elastodyn/src/ElastoDyn.f90
  modules/elastodyn/src/ElastoDyn_IO.f90
  modules/nwtc-library/src/NWTC_IO.f90
Labels: Module: ElastoDyn

#2321 Backport #2317
  modules/elastodyn/src/ElastoDyn.f90
  modules/nwtc-library/src/NWTC_IO.f90
Labels: Module: ElastoDyn, Module: NWTC Lib

#2327 Remove AD14 from FASTlib Visual Studio project
  vs-build/FASTlib/FASTlib.vfproj
Labels: System: Visual Studio

#2328 ED: remove debugging info leftover from #2267
  modules/elastodyn/src/ElastoDyn_IO.f90
Labels: Module: ElastoDyn

#2329 Remove pfunit as a submodule
  .gitmodules
Labels: Unit Tests

#2332 Minor bugfix: ED blade file parsing (no PichAxis column), AD warnings
  modules/aerodyn/src/AeroDyn_IO.f90
  modules/elastodyn/src/ElastoDyn_IO.f90
Labels: Module: AeroDyn, Module: ElastoDyn

#2340 Add !$ OMP critical around file opening for VTK
  modules/nwtc-library/src/VTK.f90
Labels: Feature: OMP parallelization

#2338 Vis: Fix bug with vtk writing of non-square wave surface
  modules/openfast-library/src/FAST_Subs.f90
Labels: Module: SeaState

#2342 Linear damping for rod elements in MoorDyn
  modules/moordyn/src/MoorDyn.f90
  modules/moordyn/src/MoorDyn_Registry.txt
  modules/moordyn/src/MoorDyn_Rod.f90
  modules/moordyn/src/MoorDyn_Types.f90
Labels: Module: MoorDyn

#2350 Vis: Fix another bug with vtk writing of non-square wave surface
  modules/openfast-library/src/FAST_Subs.f90
Labels: Type: Bug
