Repository OpenFAST/openfast, pull requests merged in 2024-08, with the labels that each got.

#2356 Fix a bug when reading WAMIT QTF files with multiple wave headings
  modules/hydrodyn/src/WAMIT2.f90
Labels: Type: Bug, Module: HydroDyn

#2360 Fix: OpenFAST can't find tail fin aerodynamics file (when absolute)
  modules/aerodyn/src/AeroDyn_IO.f90
Labels: Type: Bug, Module: AeroDyn

#2349 [OLAF] Bug Fix: Twist Not Computed in OLAF cases when Polar Projection is used, resulting in wrong Fn, Ft outputs
  modules/aerodyn/src/AeroDyn.f90
  modules/aerodyn/src/AeroDyn_AllBldNdOuts_IO.f90
  modules/aerodyn/src/AeroDyn_IO.f90
  modules/aerodyn/src/AeroDyn_Registry.txt
  modules/aerodyn/src/AeroDyn_Types.f90
Labels: Type: Bug, Module: OLAF

#2341 HD: Initialization of the low-pass-filtered displacements of potential-flow bodies when ExctnDisp = 2
  modules/hydrodyn/src/HydroDyn_DriverCode.f90
  modules/openfast-library/src/FAST_Subs.f90
Labels: Module: HydroDyn, Module: OpenFAST Lib

#2366 :pencil: Fixed typo in docs/source/install/index.rst
  docs/source/install/index.rst
Labels: Type: Documentation

#2245 Fix restart file index and nc write
  glue-codes/openfast-cpp/src/OpenFAST.cpp
Labels: C++ API

#2374 SubDyn documentation: Member Cosine Matrices
  docs/source/user/subdyn/input_files.rst
Labels: Type: Bug, Module: SubDyn, Type: Documentation

#2389 FileInfoType: increase line length allowed
  modules/nwtc-library/src/NWTC_Base.f90
Labels: Module: NWTC Lib

#2392 Install also the Map++ API headers
  glue-codes/simulink/CMakeLists.txt
  modules/map/CMakeLists.txt
  modules/openfast-library/CMakeLists.txt
Labels: Module: MAP++, System: CMake

#2394 Fixes to Map++ C API
  modules/map/CMakeLists.txt
  modules/map/src/mapapi.c
  modules/map/src/mapapi.h
  modules/map/src/maperror.h
Labels: Module: MAP++

#2397 HD bug fix: prevent array index out-of-bound error in HDOut_MapOutputs when more than 9 potential-flow bodies are present
  modules/hydrodyn/src/HydroDyn_Output.f90
Labels: Type: Bug, Module: HydroDyn

#2400 MD: replace "save" variable with logical in MD_Point
  modules/moordyn/src/MoorDyn_Point.f90
Labels: Module: MoorDyn
