Repository OpenFAST/openfast, pull requests merged in 2024-10, with the labels that each got.

#2445 ExtInfw: relocate initialization to after AD_Init
  modules/openfast-library/src/FAST_Subs.f90
Labels: Module: OpenFAST Lib

#2444 HD: Reimplement the initialization of low-pass-filtered potential-flow body positions for ExctnDisp=2
  modules/hydrodyn/src/HydroDyn.f90
  modules/hydrodyn/src/HydroDyn.txt
  modules/hydrodyn/src/HydroDyn_DriverCode.f90
  modules/hydrodyn/src/HydroDyn_Types.f90
  modules/hydrodyn/src/WAMIT.f90
  modules/hydrodyn/src/WAMIT.txt
  modules/hydrodyn/src/WAMIT_Types.f90
  modules/openfast-library/src/FAST_Subs.f90
Labels: Module: HydroDyn

#2456 Add safety checks in AirfoilInfo for ill-defined airfoils
  modules/aerodyn/src/AirfoilInfo.f90
Labels: Module: AeroDyn

#2470 Add blade distributed load output to AeroDyn-InflowWind C bindings
  modules/aerodyn/python-lib/aerodyn_inflow_library.py
  modules/aerodyn/src/AeroDyn_Inflow_C_Binding.f90
Labels: Type: Enhancement, Module: AeroDyn

#2452 Fix for some stack overflow issues with FAST.Farm
  cmake/OpenfastFortranOptions.cmake
  vs-build/FAST-farm/FAST-Farm.vfproj
  vs-build/FASTlib/FASTlib.vfproj
Labels: FAST.Farm, Compiler: Intel

#2455 HydroDyn user documentation update for large platform rotation
  docs/source/user/hydrodyn/appendix.rst
  docs/source/user/hydrodyn/input_files.rst
  modules/hydrodyn/src/HydroDyn.f90
  modules/hydrodyn/src/HydroDyn_Input.f90
  modules/hydrodyn/src/WAMIT.f90
  modules/hydrodyn/src/WAMIT.txt
  modules/hydrodyn/src/WAMIT2.txt
Labels: Module: HydroDyn, Type: Documentation

#2458 SD: Bug fix for concentrated mass with CoG offset
  modules/subdyn/src/SD_FEM.f90
  modules/subdyn/src/SubDyn.f90
  modules/subdyn/src/SubDyn_Registry.txt
  modules/subdyn/src/SubDyn_Types.f90
Labels: Module: SubDyn

#2459 MD: Adding Load dependent dynamic stiffness
  modules/moordyn/src/MoorDyn.f90
  modules/moordyn/src/MoorDyn_Driver.f90
  modules/moordyn/src/MoorDyn_Line.f90
  modules/moordyn/src/MoorDyn_Registry.txt
  modules/moordyn/src/MoorDyn_Types.f90
  modules/moordyn/src/MoorDyn_bathymetry.txt
Labels: Module: MoorDyn
