Repository OpenFAST/openfast, pull requests merged in 2024-12, with the labels that each got.

#2548 Build OpenFAST in Visual Studio 2022 using IFX
  vs-build/MAPlib/MAP_dll.vcxproj
Labels: Type: Build issue, System: Windows, System: Visual Studio, Compiler: Intel

#2558 Allow ParseVar to parse file paths containing spaces.
  modules/aerodyn/src/AeroDyn_Driver_Subs.f90
  modules/aerodyn/src/AeroDyn_IO.f90
  modules/aerodyn/src/AirfoilInfo.f90
  modules/hydrodyn/src/HydroDyn_Input.f90
  modules/inflowwind/src/InflowWind_Subs.f90
  modules/nwtc-library/src/NWTC_IO.f90
  modules/servodyn/src/ServoDyn_IO.f90
  modules/servodyn/src/StrucCtrl.f90
Labels: Module: NWTC Lib, Feature: Usage Support, Type: IO Readers/Writers

#2559 Bug Fix: AD: projection method should now depend on BEM_Mod
  modules/aerodyn/src/AeroDyn.f90
  modules/openfast-library/src/FAST_Subs.f90
Labels: Type: Bug, Module: AeroDyn

#2564 Create BUILD_OPENFAST_LIB_DRIVER flag for the OpenFAST C++ Library Interface (not CFD)
  .github/workflows/automated-dev-tests.yml
  CMakeLists.txt
  glue-codes/openfast/CMakeLists.txt
  reg_tests/CMakeLists.txt
  reg_tests/CTestList.cmake
Labels: Type: Build issue, System: CMake, C++ API

#2569 Disable LiDAR in IfW at FAST.Farm level
  modules/inflowwind/src/InflowWind.f90
  modules/inflowwind/src/InflowWind.txt
  modules/inflowwind/src/InflowWind_Types.f90
  modules/openfast-library/src/FAST_Subs.f90
Labels: Module: InflowWind, FAST.Farm, Module: Lidar

#2581 OLAF out of bounds
  modules/aerodyn/src/AeroDyn.f90
  modules/aerodyn/src/AeroDyn_Inflow.f90
  modules/openfast-library/src/FAST_Subs.f90
Labels: Module: AeroDyn

#2587 Add release notes from v2.4 - v3.4.1
  docs/changelogs/v2.4.0.md
  docs/changelogs/v2.5.0.md
  docs/changelogs/v2.6.0.md
  docs/changelogs/v3.0.0.md
  docs/changelogs/v3.1.0.md
  docs/changelogs/v3.2.0.md
  docs/changelogs/v3.2.1.md
  docs/changelogs/v3.3.0.md
  docs/changelogs/v3.4.0.md
  docs/changelogs/v3.4.1.md
Labels: Type: Documentation

#2589 VSbuild: updates for 4.0.0 release
  vs-build/AeroDisk/AeroDisk_Driver.vfproj
  vs-build/HydroDyn/HydroDynDriver.vfproj
  vs-build/MAPlib/MAP_dll.vcxproj
  vs-build/Registry/FAST_Registry.vcxproj
  vs-build/SeaState/SeaStateDriver.vfproj
  vs-build/SimpleElastoDyn/SimpleElastoDyn_Driver.vfproj
Labels: System: Visual Studio
