Repository OpenFAST/openfast, pull requests merged in 2024-05, with the labels that each got.

#2182 Move test seastate_wavemod5 to after test seastate_wr_kin1
  .github/actions/tests-module-seastate/action.yml
  reg_tests/CTestList.cmake
  reg_tests/executeAerodynPyRegressionCase.py
  reg_tests/executeAerodynRegressionCase.py
  reg_tests/executeBeamdynRegressionCase.py
  reg_tests/executeFASTFarmRegressionCase.py
  reg_tests/executeHydrodynPyRegressionCase.py
  reg_tests/executeHydrodynRegressionCase.py
  reg_tests/executeInflowwindPyRegressionCase.py
  reg_tests/executeInflowwindRegressionCase.py
  reg_tests/executeMoordynPyRegressionCase.py
  reg_tests/executeMoordynRegressionCase.py
  reg_tests/executeOpenfastAeroAcousticRegressionCase.py
  reg_tests/executeOpenfastCppRegressionCase.py
  reg_tests/executeOpenfastLinearRegressionCase.py
  reg_tests/executeOpenfastRegressionCase.py
  reg_tests/executePythonRegressionCase.py
  reg_tests/executeSeaStateRegressionCase.py
  reg_tests/executeSubdynRegressionCase.py
  reg_tests/executeUnsteadyAeroRegressionCase.py
Labels: Type: Testing, Module: SeaState

#2183 Update GHCR doc, remove old Dockerfile
  docs/source/install/index.rst
  share/docker/README.md
  share/docker/openfast_dev/Dockerfile
Labels: System: Docker

#2186 [Bug] Writing checkpoint files created empty fort.# files
  .github/workflows/automated-dev-tests.yml
  modules/nwtc-library/src/ModReg.f90
  modules/openfast-library/src/FAST_Subs.f90
Labels: Type: Bug

#2187 Fix syntax errors in Visual Studio project file for AD driver
  vs-build/AeroDyn/AeroDyn_Driver.vfproj
Labels: Type: Build issue, System: Visual Studio

#2189 More fixes for Visual Studio
  vs-build/FASTlib/FASTlib.vfproj
  vs-build/RunRegistry.bat
  vs-build/SeaState/SeaStateDriver.vfproj
Labels: Type: Build issue, System: Visual Studio

#2210 New registry needs C++14
  modules/openfast-registry/CMakeLists.txt
Labels: Type: Build issue, System: CMake

#2212 Minor corrections to docs
  docs/source/user/api_change.rst
  docs/source/user/beamdyn/appendix.rst
  docs/source/user/beamdyn/figs/bd_frame.png
  docs/source/user/beamdyn/figs/bd_output_channel.png
  docs/source/user/beamdyn/figs/n4.png
  docs/source/user/beamdyn/figs/n8.png
  docs/source/user/beamdyn/theory.rst
Labels: Type: Documentation

#2223 nwtc lib: SetErrStat ref'd incorrectly in VTK
  modules/nwtc-library/src/VTK.f90
Labels: Type: Build issue, Module: OpenFAST Lib

#2219 Turn off "#Restoring here" messages in .out files during linearization visualization sims
  modules/openfast-library/src/FAST_Subs.f90
Labels: Feature: Linearization

#2229 CMake: OpenMP turned on only if requested
  CMakeLists.txt
Labels: Type: Build issue, System: CMake
