Repository OpenFAST/openfast, pull requests merged in 2024-09, with the labels that each got.

#2403 Fix typo in logic from PR #2400
  modules/moordyn/src/MoorDyn_Point.f90
Labels: Module: MoorDyn

#2405 [BugFix] remove extra summary file write from MAP++
  modules/map/src/mapinit.c
Labels: Module: MAP++

#2408 HD: Bug fix for potential-flow wave excitation with multiple bodies and large yaw offset
  modules/hydrodyn/src/WAMIT.f90
Labels: Module: HydroDyn

#2416 SED+ADsk: update registry comments slightly
  modules/aerodisk/src/AeroDisk_Registry.txt
  modules/aerodisk/src/AeroDisk_Types.f90
  modules/simple-elastodyn/src/SED_Registry.txt
  modules/simple-elastodyn/src/SED_Types.f90
Labels: Module: AeroDisk, Module: SED

#2420 MAP: change strncpy to use macro MAP_STRNCPY
  modules/map/src/mapapi.c
  modules/map/src/mapsys.h
Labels: Module: MAP++

#2425 AD: Bug Fix: Twist in blades 2 and 3 wrong when using Polar BEM
  modules/aerodyn/src/AeroDyn.f90
Labels: Type: Bug, Module: AeroDyn

#2427 DBEMT_Mod = -1 for linearization
  modules/aerodyn/src/AeroDyn.f90
  modules/aerodyn/src/BEMT.f90
  modules/aerodyn/src/DBEMT.f90
Labels: Module: AeroDyn

#2431 Enable linearization with MHK turbines
  modules/aerodyn/src/AeroDyn.f90
  modules/openfast-library/src/FAST_Subs.f90
Labels: Feature: Linearization, Feature: MHK

#2442 Fix path to installed MAP include files
  modules/map/CMakeLists.txt
Labels: Type: Bug, Module: MAP++, System: CMake

#2436 MD: Automatically detect the number of header lines in the WaveKin (wave elevation) file
  modules/moordyn/src/MoorDyn_Misc.f90
Labels: Module: MoorDyn
