Repository OpenFAST/openfast, pull requests merged in 2024-03, with the labels that each got.

#2069 HD bug fixes to the inertial loads from marine growth and ballast water on strip-theory members
  modules/hydrodyn/src/Morison.f90
Labels: Module: HydroDyn

#2071 SeaSt Vis: corrections to PR #1992
  modules/openfast-library/src/FAST_Subs.f90
  modules/seastate/src/SeaState.txt
  modules/seastate/src/SeaState_Types.f90
Labels: Module: SeaState

#2072 GH actions: update matlab-actions version
  .github/workflows/automated-dev-tests.yml
Labels: Type: Testing

#2073 HD bug fix to the inertial load from ballast water on strip-theory members
  modules/hydrodyn/src/Morison.f90
Labels: Module: HydroDyn

#2074 GH actions: remove extraneous "products:" from recipe (added in #2072)
  .github/workflows/automated-dev-tests.yml
Labels: Type: Testing

#2009 ExtLoads module: Use pointers for wind
  modules/aerodyn/src/AeroDyn.f90
  modules/aerodyn/src/AeroDyn_Registry.txt
  modules/aerodyn/src/AeroDyn_Types.f90
  modules/extloads/CMakeLists.txt
  modules/extloads/src/ExtLoads.f90
  modules/extloads/src/ExtLoads_Registry.txt
  modules/extloads/src/ExtLoads_Types.f90
  modules/openfast-library/src/FAST_Solver.f90
  modules/openfast-library/src/FAST_Subs.f90
Labels: Module: InflowWind, C++ API, Module: ExtLoads

#2078 Minor code cleanup
  modules/openfast-library/src/FAST_Subs.f90
  vs-build/FASTlib/FASTlib.vfproj
Labels: System: Visual Studio, Module: OpenFAST Lib

#2079 Handling of Paths for SrvD UserSubs Input Files
  modules/servodyn/src/ServoDyn.f90
  modules/servodyn/src/ServoDyn_Registry.txt
  modules/servodyn/src/ServoDyn_Types.f90
Labels: Module: ServoDyn

#2094 Support cross-compiling with Mingw
  modules/map/src/mapsys.h
Labels: Module: MAP++, Type: Build issue

#2091 Fix bug in new UA driver
  modules/aerodyn/src/UA_Dvr_Subs.f90
Labels: Module: AeroDyn

#2089 HD Bug Fix: Correct the indices of mean drift load components in WAMIT2
  modules/hydrodyn/src/WAMIT2.f90
Labels: Module: HydroDyn

#2102 TurbSim: increase filename to 1024 characters
  modules/turbsim/src/CohStructures.f90
  modules/turbsim/src/Profiles.f90
  modules/turbsim/src/TS_FileIO.f90
  modules/turbsim/src/TurbSim.f90
  modules/turbsim/src/TurbSim_Types.f90
Labels: Module: TurbSim

#2097 Consistent use of turbine indexing when coupled to c/c++
  glue-codes/fast-farm/src/FASTWrapper.f90
  modules/openfast-library/src/FAST_Library.f90
  modules/openfast-library/src/FAST_Library.h
  modules/openfast-library/src/FAST_Registry.txt
  modules/openfast-library/src/FAST_Subs.f90
  modules/openfast-library/src/FAST_Types.f90
  reg_tests/CMakeLists.txt
  reg_tests/CTestList.cmake
Labels: Module: OpenFAST Lib, C++ API

#2113 SeaState: replace `pointer` attribute with `allocatable`
  modules/seastate/src/SeaState_Output.f90
Labels: Module: SeaState

#2116 VSbuild: always build Registry as release x64
  vs-build/AeroDyn/AeroDyn_Driver.sln
  vs-build/AeroDyn_Inflow_c_binding/AeroDyn_Inflow_c_binding.sln
  vs-build/BeamDyn/BeamDyn-w-registry.sln
  vs-build/FAST-farm/FAST-Farm.sln
  vs-build/FAST/FAST.sln
  vs-build/HydroDyn_c_binding/HydroDyn_c_binding.sln
  vs-build/InflowWind/InflowWind_driver.sln
  vs-build/InflowWind_c_binding/InflowWind_c_binding.sln
  vs-build/MoorDyn_c_binding/MoorDyn_c_binding.sln
  vs-build/Registry/FAST_Registry.sln
  vs-build/SubDyn/SubDyn.sln
  vs-build/UnsteadyAero/UnsteadyAero.sln
Labels: System: Visual Studio

#2118 Fix use of uninitialized variables in FAST.Farm and increase stack size in Visual Studio
  modules/aerodyn/src/AeroDyn_AllBldNdOuts_IO.f90
  modules/awae/src/AWAE.f90
  vs-build/FAST-farm/FAST-Farm.vfproj
Labels: Type: Bug

#2120 CMake: openmp optional for FF and CPP if not explicitly requested
  CMakeLists.txt
Labels: System: CMake

#2098 More bug fixes in the WAMIT and WAMIT2 modules of HydroDyn with wave headings
  modules/hydrodyn/src/WAMIT.f90
  modules/hydrodyn/src/WAMIT2.f90
Labels: Module: HydroDyn

#2125 CMake: openmp optional for FF and CPP if not explicitly requested (correction)
  CMakeLists.txt
Labels: System: CMake

#2128 VSbuild: set VS version to VS 2017
  vs-build/AeroDyn/AeroDyn_Driver.sln
  vs-build/AeroDyn_Inflow_c_binding/AeroDyn_Inflow_c_binding.sln
  vs-build/BeamDyn/BeamDyn-w-registry.sln
  vs-build/FAST-farm/FAST-Farm.sln
  vs-build/FAST/FAST.sln
  vs-build/HydroDyn/HydroDynDriver.sln
  vs-build/HydroDyn_c_binding/HydroDyn_c_binding.sln
  vs-build/InflowWind/InflowWind_driver.sln
  vs-build/InflowWind_c_binding/InflowWind_c_binding.sln
  vs-build/MoorDyn/MoorDynDriver.sln
  vs-build/MoorDyn_c_binding/MoorDyn_c_binding.sln
  vs-build/Registry/FAST_Registry.sln
  vs-build/SC_DLL/SC_DLL.sln
  vs-build/SubDyn/SubDyn.sln
  vs-build/UnsteadyAero/UnsteadyAero.sln
Labels: System: Visual Studio

#2129 Fix cache failure in Github Actions caused by setup-python
  .github/workflows/automated-dev-tests.yml
  requirements.txt
Labels: Type: Bug, Github Actions

#2130 Docs: update python modules for regression testing
  docs/source/testing/regression_test.rst
Labels: Type: Testing, Type: Documentation
