Repository OpenFAST/openfast, pull requests merged in 2024-11, with the labels that each got.

#2497 CMAKE_INSTALL_PREFIX was incorrectly being prepended to the install d…
  CMakeLists.txt
Labels: Type: Bug, Type: Build issue, System: CMake

#2501 Remove $OMP directives from AeroDyn_Inflow due to Intel compiler bug
  modules/aerodyn/src/AeroDyn_Inflow.f90
Labels: Type: Bug, Compiler: Intel, Feature: OMP parallelization

#2498 Docker: typo was preventing docker build upload to GH
  .github/workflows/build-docker-image-manual.yml
  .github/workflows/deploy.yml
Labels: System: Docker

#2516 AD bugfix: Segmentation fault with ifx
  modules/aerodyn/src/AeroDyn.f90
Labels: Type: Bug, Module: AeroDyn, Compiler: Intel

#2517 HD bug fix for depth-based axial hydrodynamic coefficients
  modules/hydrodyn/src/HydroDyn_Input.f90
  modules/hydrodyn/src/Morison.f90
Labels: Type: Bug, Module: HydroDyn

#2518 ADI bugfix: BoxExceed was not enabled for OLAF with ADI
  modules/aerodyn/src/AeroDyn_Inflow.f90
Labels: Module: AeroDyn

#2519 Use B4Ki to store array bounds during pack/restore of TurbineType to file
  glue-codes/fast-farm/src/FASTWrapper_Types.f90
  glue-codes/fast-farm/src/FAST_Farm_Types.f90
  modules/aerodisk/src/AeroDisk_Types.f90
  modules/aerodyn/src/AeroAcoustics_Types.f90
  modules/aerodyn/src/AeroDyn_Driver_Types.f90
  modules/aerodyn/src/AeroDyn_Inflow_Types.f90
  modules/aerodyn/src/AeroDyn_Registry.txt
  modules/aerodyn/src/AeroDyn_Types.f90
  modules/aerodyn/src/AirfoilInfo_Types.f90
  modules/aerodyn/src/BEMT_Types.f90
  modules/aerodyn/src/DBEMT_Types.f90
  modules/aerodyn/src/FVW_Types.f90
  modules/aerodyn/src/UnsteadyAero_Types.f90
  modules/awae/src/AWAE_Types.f90
  modules/beamdyn/src/BeamDyn_Types.f90
  modules/elastodyn/src/ElastoDyn_Types.f90
  modules/externalinflow/src/ExternalInflow_Types.f90
  modules/extloads/src/ExtLoadsDX_Types.f90
  modules/extloads/src/ExtLoads_Types.f90
  modules/extptfm/src/ExtPtfm_MCKF_Types.f90
  modules/feamooring/src/FEAMooring_Types.f90
  modules/hydrodyn/src/Conv_Radiation_Types.f90
  modules/hydrodyn/src/HydroDyn_Types.f90
  modules/hydrodyn/src/Morison_Types.f90
  modules/hydrodyn/src/SS_Excitation_Types.f90
  modules/hydrodyn/src/SS_Radiation_Types.f90
  modules/hydrodyn/src/WAMIT2_Types.f90
  modules/hydrodyn/src/WAMIT_Types.f90
  modules/icedyn/src/IceDyn_Types.f90
  modules/icefloe/src/icefloe/IceFloe_Types.f90
  modules/inflowwind/src/IfW_FlowField_Types.f90
  modules/inflowwind/src/InflowWind_IO_Types.f90
  modules/inflowwind/src/InflowWind_Types.f90
  modules/inflowwind/src/Lidar_Types.f90
  modules/lindyn/src/LinDyn_Types.f90
  modules/map/src/MAP_Fortran_Types.f90
  modules/map/src/MAP_Types.f90
  modules/moordyn/src/MoorDyn_Types.f90
  modules/nwtc-library/ModRegGen.py
  modules/nwtc-library/src/ModReg.f90
  modules/nwtc-library/src/NWTC_Library_IncSubs.f90
  modules/nwtc-library/src/NWTC_Library_Types.f90
  modules/openfast-library/src/FAST_Types.f90
  modules/openfast-registry/src/registry_gen_fortran.cpp
  modules/orcaflex-interface/src/OrcaFlexInterface_Types.f90
  modules/seastate/src/Current_Types.f90
  modules/seastate/src/SeaSt_WaveField_Types.f90
  modules/seastate/src/SeaState_Types.f90
  modules/seastate/src/Waves2_Types.f90
  modules/seastate/src/Waves_Types.f90
  modules/servodyn/src/ServoDyn_Types.f90
  modules/servodyn/src/StrucCtrl_Types.f90
  modules/simple-elastodyn/src/SED_Types.f90
  modules/subdyn/src/SubDyn_Types.f90
  modules/supercontroller/src/SCDataEx_Types.f90
  modules/supercontroller/src/SuperController_Types.f90
  modules/wakedynamics/src/WakeDynamics_Types.f90
Labels: Type: Build issue, FAST Registry, Module: NWTC Lib, Compiler: Flang

#2530 bugfix: with OLAF, BoxExceed was allowed for all points
  modules/aerodyn/src/AeroDyn_Inflow.f90
  modules/openfast-library/src/FAST_Subs.f90
Labels: Module: AeroDyn

#2536 FAST.Farm: increase number of output planes to 999
  glue-codes/fast-farm/src/FAST_Farm_Subs.f90
  modules/awae/src/AWAE.f90
Labels: FAST.Farm
