Repository OpenFAST/openfast, pull requests merged in 2025-02, with the labels that each got.

#2626 Docs: add presentation overview of OF Coordinate systems (2024)
  docs/OtherSupporting/OpenFAST_coords.pdf
  docs/source/user/elastodyn/coordsys.rst
Labels: Type: Documentation

#2627 Update ReleaseProcess.md notes
  docs/changelogs/ReleaseProcess.md
Labels: Type: Documentation

#2630 Release 4.0.2
  docs/OtherSupporting/OpenFAST_coords.pdf
  docs/changelogs/ReleaseProcess.md
  docs/changelogs/v4.0.2.md
  docs/conf.py
  docs/source/user/api_change.rst
  docs/source/user/elastodyn/coordsys.rst
  modules/externalinflow/src/ExternalInflow.f90
  openfast_io/pyproject.toml
  reg_tests/CTestList.cmake
Labels: Type: Documentation, C++ API, Module: ExtLoads

#2632 Reduce optimization level for FAST*_Types.f90 with gcc
  glue-codes/fast-farm/CMakeLists.txt
  modules/openfast-library/CMakeLists.txt
Labels: Type: Build issue, System: CMake, Compiler: GNU

#2642 [BugFix] BD: variable passing in Calc_RR0mEta_rho
  modules/beamdyn/src/BeamDyn.f90
Labels: Module: BeamDyn

#2650 MoorDyn: VIV and Rk4
  modules/moordyn/src/MoorDyn.f90
  modules/moordyn/src/MoorDyn_IO.f90
  modules/moordyn/src/MoorDyn_Line.f90
  modules/moordyn/src/MoorDyn_Registry.txt
  modules/moordyn/src/MoorDyn_Types.f90
  openfast_io/openfast_io/FAST_reader.py
  openfast_io/openfast_io/FAST_writer.py
Labels: Module: MoorDyn
