Repository OpenFAST/openfast, pull requests merged in 2025-04, with the labels that each got.

#2710 Increase length of error messages
  modules/nwtc-library/src/NWTC_Base.f90
Labels: Module: NWTC Lib

#2727 generate BD files if fst_vt dictionary BD keys are not empty
  openfast_io/openfast_io/FAST_reader.py
  openfast_io/openfast_io/FAST_writer.py
Labels: Type: IO Readers/Writers

#2732 Disable use of heap arrays for the Intel fortran compilers
  cmake/OpenfastFortranOptions.cmake
  vs-build/FAST-farm/FAST-Farm.vfproj
  vs-build/FASTlib/FASTlib.vfproj
Labels: Type: Bug, Type: Build issue, Compiler: Intel

#2711 Fix FAST.Farm issues with OMP (segfaults mostly)
  cmake/OpenfastFortranOptions.cmake
  docs/source/user/fast.farm/Pictures/Troubleshooting_SegFaultScreen.png
  docs/source/user/fast.farm/RunningFFarm.rst
  modules/awae/src/AWAE.f90
  modules/awae/src/AWAE_IO.f90
  modules/nwtc-library/src/NWTC_IO.f90
  modules/nwtc-library/src/NWTC_Num.f90
  modules/nwtc-library/src/VTK.f90
Labels: Compiler: Intel

#2741 B/sim status days left
  docs/changelogs/ReleaseProcess.md
  docs/changelogs/v4.0.3.md
  docs/conf.py
  docs/source/user/api_change.rst
  modules/nwtc-library/src/NWTC_Num.f90
  openfast_io/pyproject.toml
Labels: Module: NWTC Lib

#2742 Fix VS build for FAST when using IFX Complier
  vs-build/FAST/FAST.sln
  vs-build/FASTlib/FASTlib.vfproj
Labels: Type: Bug, System: Visual Studio, Compiler: Intel

#2663 HydroDyn C-binding: Added mass matrix
  modules/hydrodyn/python-lib/hydrodyn_library.py
  modules/hydrodyn/src/HydroDyn_C_Binding.f90
Labels: Type: Enhancement, Module: HydroDyn, C++ API

#2761 Cleanup LIDAR code
  modules/aerodyn/src/AeroDyn_Inflow.f90
  modules/awae/src/AWAE.f90
  modules/inflowwind/src/InflowWind.f90
  modules/inflowwind/src/InflowWind.txt
  modules/inflowwind/src/InflowWind_Subs.f90
  modules/inflowwind/src/InflowWind_Types.f90
  modules/inflowwind/src/Lidar.f90
  modules/inflowwind/src/Lidar.txt
  modules/inflowwind/src/Lidar_Types.f90
  modules/openfast-library/src/FAST_Library.f90
  modules/openfast-library/src/FAST_Registry.txt
  modules/openfast-library/src/FAST_Subs.f90
  modules/openfast-library/src/FAST_Types.f90
  modules/servodyn/src/BladedInterface.f90
  modules/servodyn/src/BladedInterface_EX.f90
  modules/servodyn/src/ServoDyn.f90
  modules/servodyn/src/ServoDyn_Registry.txt
  modules/servodyn/src/ServoDyn_Types.f90
Labels: Module: InflowWind, Module: Lidar

#2777 bug fix #2762
  openfast_io/openfast_io/FAST_reader.py
Labels: Type: IO Readers/Writers

#2779 MD: Backport of PR #2658
  modules/moordyn/src/MoorDyn.f90
  modules/moordyn/src/MoorDyn_IO.f90
  openfast_io/openfast_io/FAST_reader.py
  openfast_io/openfast_io/FAST_vars_out.py
  openfast_io/openfast_io/FAST_writer.py
Labels: Module: MoorDyn, Type: IO Readers/Writers

#2776 Fix FAST_ExtInfw_Restart API
  glue-codes/openfast-cpp/src/OpenFAST.cpp
  modules/openfast-library/src/FAST_Library.h
Labels: C++ API

#2778 Backport of GitHub Action to build windows executables on release
  .github/scripts/build_windows_executables.bat
  .github/workflows/deploy.yml
  vs-build/OpenFAST-Simulink/OpenFAST-Simulink.vfproj
Labels: System: Windows, System: Visual Studio, Sytem: MATLAB/Simulink, Compiler: Intel, Github Actions

#2785 Avoid ending program when called as a shared library
  modules/openfast-library/src/FAST_Subs.f90
Labels: Sytem: MATLAB/Simulink

#2786 Release 4.0.4
  .github/scripts/build_windows_executables.bat
  .github/workflows/deploy.yml
  docs/changelogs/v4.0.4.md
  docs/conf.py
  docs/source/user/api_change.rst
  glue-codes/openfast-cpp/src/OpenFAST.cpp
  modules/moordyn/src/MoorDyn.f90
  modules/moordyn/src/MoorDyn_IO.f90
  modules/openfast-library/src/FAST_Library.h
  modules/openfast-library/src/FAST_SS_Solver.f90
  modules/openfast-library/src/FAST_Subs.f90
  openfast_io/openfast_io/FAST_reader.py
  openfast_io/openfast_io/FAST_vars_out.py
  openfast_io/openfast_io/FAST_writer.py
  openfast_io/pyproject.toml
  vs-build/OpenFAST-Simulink/OpenFAST-Simulink.vfproj
Labels: System: Windows, System: Visual Studio, Sytem: MATLAB/Simulink, Module: OpenFAST Lib, C++ API, Type: IO Readers/Writers, System: GH actions

#2787 HD-cbind: Add HydroDyn input files handle
  glue-codes/python/pyOpenFAST/hydrodyn.py
  modules/aerodyn/src/AeroDyn_Inflow_C_Binding.f90
  modules/hydrodyn/src/HydroDyn_C_Binding.f90
Labels: Module: HydroDyn

#2790 Fix Intel compiler error for comment after string literal
  modules/nwtc-library/tests/test_NWTC_C_Binding.F90
Labels: Compiler: Intel IFX
