Repository OpenFAST/openfast, pull requests merged in 2025-06, with the labels that each got.

#2853 Backport #2848
  modules/aerodyn/src/FVW.f90
Labels: Module: AeroDyn

#2855 Fix Typo in "interpolation" in Ice Crushing Modules
  modules/icefloe/src/icefloe/intermittentCrushing.F90
  modules/icefloe/src/icefloe/randomCrushing.F90
Labels: Type: typos only

#2850 Docs Update for the New Rectangular Members in HydroDyn and SubDyn
  docs/source/user/api_change.rst
  docs/source/user/hydrodyn/appendix.rst
  docs/source/user/hydrodyn/input_files.rst
  docs/source/user/subdyn/appendixD.rst
  docs/source/user/subdyn/examples/OC4_Jacket_SD_Input.dat
  docs/source/user/subdyn/input_files.rst
Labels: Type: Documentation

#2883 Gh actions debug
  .github/workflows/automated-dev-tests.yml
Labels: Github Actions, System: GH actions
