Repository OpenFAST/openfast, pull requests merged in 2025-09, with the labels that each got.

#2975 Minor numerical improvements
  modules/aerodyn/src/AirfoilInfo.f90
  modules/hydrodyn/src/HydroDyn.txt
  modules/hydrodyn/src/Morison.f90
  modules/moordyn/src/MoorDyn_Driver.f90
  modules/moordyn/src/MoorDyn_Misc.f90
  modules/nwtc-library/src/ModMesh.f90
  modules/nwtc-library/src/NWTC_IO.f90
  modules/nwtc-library/src/NWTC_Num.f90
  modules/nwtc-library/src/VTK.f90
  modules/openfast-library/src/FAST_SS_Subs.f90
  modules/openfast-library/src/FAST_Subs.f90
  modules/seastate/src/SeaState_Output.f90
Labels: Module: HydroDyn, Module: MoorDyn, Module: NWTC Lib

#2977 Minor MoorDyn improvements
  docs/source/user/moordyn/index.rst
  modules/moordyn/README.md
  modules/moordyn/src/MoorDyn.f90
  modules/moordyn/src/MoorDyn_IO.f90
  modules/moordyn/src/MoorDyn_Line.f90
Labels: Module: MoorDyn

#2994 making sure to close file handle in ofio turbsim reader
  openfast_io/openfast_io/turbsim_util.py
Labels: Type: IO Readers/Writers

#3001 prepping for py314 and making requirements less restrictrive
  glue-codes/python/pyproject.toml
  openfast_io/openfast_io/FAST_writer.py
  openfast_io/pyproject.toml
Labels: Type: IO Readers/Writers, dependencies
