Repository OpenFAST/openfast, pull requests merged in 2025-07, with the labels that each got.

#2908 SrvD: add numbering to StC echo files
  modules/servodyn/src/ServoDyn.f90
Labels: Module: ServoDyn

#2914 Add SeaState path when running MoorDyn registry in RunRegistry.bat
  vs-build/RunRegistry.bat
Labels: Type: Bug, Type: Build issue, System: Windows, System: Visual Studio

#2906 SeaState: Allow WaveStMod=1 with WaveMod=0
  modules/seastate/src/SeaState_Input.f90
Labels: Module: SeaState

#2905 SD: Fix a bug where interface DoF loads are incomplete if the interface joint is part of a rigid assembly
  modules/subdyn/src/SD_FEM.f90
  modules/subdyn/src/SubDyn.f90
Labels: Type: Bug, Module: SubDyn

#2735 C binding interface improvements
  glue-codes/labview/src/WaveTank.f90
  glue-codes/python/examples/SeaState.py
  glue-codes/python/pyOpenFAST/aerodyn_inflow.py
  glue-codes/python/pyOpenFAST/interface_abc.py
  modules/aerodyn/src/AeroDyn_Driver_Subs.f90
  modules/aerodyn/src/AeroDyn_Inflow.f90
  modules/aerodyn/src/AeroDyn_Inflow_C_Binding.f90
  modules/aerodyn/src/AeroDyn_Inflow_Registry.txt
  modules/aerodyn/src/AeroDyn_Inflow_Types.f90
  modules/inflowwind/src/IfW_C_Binding.f90
  modules/moordyn/src/MoorDyn_C_Binding.f90
  modules/nwtc-library/src/NWTC_C_Binding.f90
  modules/nwtc-library/tests/test_NWTC_C_Binding.F90
  modules/seastate/src/SeaState_C_Binding.f90
  vs-build/AeroDyn_Inflow_c_binding/AeroDyn_Inflow_c_binding.vfproj
  vs-build/HydroDyn_c_binding/HydroDyn_c_binding.vfproj
  vs-build/InflowWind_c_binding/InflowWind_c_binding.vfproj
  vs-build/MoorDyn_c_binding/MoorDyn_c_binding.vfproj
Labels: C-binding library interfaces

#2919 Backport of #2906 ( SeaState: Allow WaveStMod=1 with WaveMod=0)
  modules/seastate/src/SeaState_Input.f90
Labels: Module: SeaState

#2931 docs: add guide for WSL+VScode
  docs/source/install/index.rst
Labels: System: Windows, Type: Documentation

#2937 Docs update recomendations from issue #1822
  docs/source/user/fast.farm/InputFiles.rst
  docs/source/user/fast.farm/ModelGuidance.rst
  glue-codes/fast-farm/src/FAST_Farm_IO.f90
Labels: Type: Documentation, FAST.Farm
